
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 style="color: black;">Company Profile</h4>
            <div class="card" style="padding: 40px;">
           
                <form [formGroup]="infoForm">
                    <div>
                        <div class="form-group row d-flex justify-content-center">
                            <label class="col-sm-2 col-form-label">Company Name:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="company_name"> 
                            <span class="text-danger"
                            *ngIf="(infoForm.controls.company_name.touched) && infoForm.controls.company_name.errors?.required">
                            Company Name is required
                            </span>
                            </div>
                        </div>
                        <div class="form-group row d-flex justify-content-center">
                            <label class="col-sm-2 col-form-label">Description:</label>
                            <div class="col-sm-8">
                                <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
                            </div>
                        </div>
                        <div class="form-group row d-flex justify-content-center">
                            <label class="col-sm-2 col-form-label">Support Email:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="email">
                            <span class="text-danger"
                                *ngIf="(infoForm.controls.email.touched ) && infoForm.controls.email.errors?.required">
                                Email is required
                            </span>
                            <span class="text-danger"
                                *ngIf="infoForm.controls.email.touched && infoForm.controls.email.errors?.email">
                                Enter a valid email address
                            </span>
                            </div>
                        </div>
                        <div class="form-group row d-flex justify-content-center">
                            <label class="col-sm-2 col-form-label">Contact Number:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="contact">
                                <span class="text-danger"
                                    *ngIf="(infoForm.controls.contact.touched) && infoForm.controls.contact.errors?.required">
                                    Contact is required
                                </span>
                            </div>
                        </div>
                        <div class="form-group row d-flex justify-content-center">
                            <label class="col-sm-2 col-form-label">Google Playstore Link:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="playstore_link">
                                <span class="text-danger"
                                *ngIf="(infoForm.controls.playstore_link.touched) && infoForm.controls.playstore_link.errors?.required">
                                Playstore link is required
                                </span>
                            </div>
                        </div>
                        <div class="form-group row d-flex justify-content-center">
                            <label class="col-sm-2 col-form-label">Applestore Link:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="applestore_link"> 
                                <span class="text-danger"
                                *ngIf="(infoForm.controls.applestore_link.touched) && infoForm.controls.applestore_link.errors?.required">
                                Applestore link is required
                                </span>
                            </div>
                        </div>
                        <div class="form-group row d-flex justify-content-center">
                            <label class="col-sm-2 col-form-label">Copyrights:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="copyrights"> 
                                <span class="text-danger"
                                *ngIf="(infoForm.controls.copyrights.touched) && infoForm.controls.copyrights.errors?.required">
                                Copyrights link is required
                                </span>
                            </div>
                        </div>

                        <div class="form-group row d-flex justify-content-center">
                            <label class="col-sm-2 col-form-label">Logo:</label>
                            <div class="col-sm-8">
                                <label for="file">
                                    <img src="../../../../assets/upload.png" alt="" class="img-fluid">
                                    <input type="file" name="" id="file" (change)="UploadLogo($event)" style="display: none;">
                                     </label>
                                 

                                <div *ngIf="!imageUploaded" class="mt-1">
                                    <p class="text_color_main">Please Upload an image  @ 1980 * 1080</p>
                                </div>
                                <div *ngIf="imageUploaded" class="mt-1">
                                    <img src="{{logoUrl}}" alt="" class="img-fluid" style="width: auto; height:50px;">
                                </div>
                                <br>
                            </div>
                        </div>

                        <div class="form-group row d-flex justify-content-center">
                            <label class="col-sm-2 col-form-label">SSL:</label>
                            <div class="col-sm-8">

                                <label for="file">
                                    <img src="../../../../assets/upload.png" alt="" class="img-fluid">
                                    <input type="file" name="" id="file" (change)="UploadFooter1($event)" style="display: none;">
                                </label>

                                <div *ngIf="!imageUploaded" class="mt-1">
                                    <p class="text_color_main">Please Upload an image  @ 1980 * 1080</p>
                                </div>
                                <div *ngIf="imageUploaded" class="mt-1">
                                    <img src="{{footer_image1}}" alt="" class="img-fluid" style="width: auto; height:50px;">
                                </div>
                                <br>
                            </div>
                        </div>

                        <div class="form-group row d-flex justify-content-center">
                            <label class="col-sm-2 col-form-label">Master Card:</label>
                            <div class="col-sm-8">

                                <label for="file">
                                    <img src="../../../../assets/upload.png" alt="" class="img-fluid">
                                    <input type="file" name="" id="file" (change)="UploadFooter2($event)" style="display: none;">
                                </label>

                                <div *ngIf="!imageUploaded" class="mt-1">
                                    <p class="text_color_main">Please Upload an image  @ 1980 * 1080</p>
                                </div>
                                <div *ngIf="imageUploaded" class="mt-1">
                                    <img src="{{footer_image2}}" alt="" class="img-fluid" style="width: auto; height:50px;">
                                </div>
                                <br>
                            </div>
                        </div>

                        <div class="form-group row d-flex justify-content-center">
                            <label class="col-sm-2 col-form-label">Visa:</label>
                            <div class="col-sm-8">
                                <label for="file">
                                    <img src="../../../../assets/upload.png" alt="" class="img-fluid">
                                    <input type="file" name="" id="file" (change)="UploadFooter3($event)" style="display: none;">
                                </label>
                                <div *ngIf="!imageUploaded" class="mt-1">
                                    <p class="text_color_main">Please Upload an image  @ 1980 * 1080</p>
                                </div>
                                <div *ngIf="imageUploaded" class="mt-1">
                                    <img src="{{footer_image3}}" alt="" class="img-fluid" style="width: auto; height:50px;">
                                </div>
                                <br>
                            </div>
                        </div>

                        <div class="form-group row d-flex justify-content-center">
                            <label class="col-sm-2 col-form-label">ERP:</label>
                            <div class="col-sm-8">
                                <label for="file">
                                    <img src="../../../../assets/upload.png" alt="" class="img-fluid">
                                    <input type="file" name="" id="file" (change)="UploadDynamics($event)" style="display: none;">
                                </label>

                                <div *ngIf="!imageUploaded" class="mt-1">
                                    <p class="text_color_main">Please Upload an image  @ 1980 * 1080</p>
                                </div>
                                <div *ngIf="imageUploaded" class="mt-1">
                                    <img src="{{dynamics_image}}" alt="" class="img-fluid" style="width: auto; height:50px;">
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <button class="btn btn-sm btn_bg mr-1" (click)="updateInfo()" > Update </button>
                        <button class="btn btn-sm btn_bg" (click)="onPageReload()"> Cancel </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>