<div class="container-fluid">
    <h4 class="text_color_black" *ngIf="addmode"><b>Add New Parts Request Status</b></h4>
    <h4 class="text_color_black" *ngIf="editmode"><b>Update Parts Request Status</b></h4>
    <div class="card card_border_radius" style="padding: 10px;">

        <form [formGroup]="addPartsRequestStatusForm">
            <div class="form-group row d-flex justify-content-center">
                <label for=""  class="col-sm-2 col-form-label">Parts Request Status Name</label>
                <div class="col-sm-6">
                    <input type="text" formControlName="parts_req_status_name" class="form-control">     
                    <span class="text-danger"
                    *ngIf="(addPartsRequestStatusForm.controls.parts_req_status_name.touched) && addPartsRequestStatusForm.controls.parts_req_status_name.errors?.required">
                    Parts Request Status Name is required
                    </span>           </div>
              </div>

              <div class="form-group row d-flex justify-content-center">
                <label for=""  class="col-sm-2 col-form-label">Remarks</label>
                <div class="col-sm-6">
                    <input type="text" formControlName="remarks" class="form-control">
                </div>
              </div>

              <div class="form-group row d-flex justify-content-center">
                <label for=""  class="col-sm-2 col-form-label">Status</label>
                <div class="col-sm-6">
                    <select formControlName="status" class="form-control">
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                </div>
              </div>
        </form>
        
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn_bg btn-sm mr-1" (click)="addPartsRequestStatus()" *ngIf="addmode">Save</button>
            <button type="button" class="btn btn_bg btn-sm mr-1" (click)="updatePartsRequestStatus()" *ngIf="editmode">Update</button>
            <button type="button" class="btn btn_bg btn-sm mr-1" (click)="cancel()">Cancel</button>
        </div>
    </div>
</div>