


.card-counter-5 {
  box-shadow: 2px 2px 10px #dadada;
  margin: 5px;
  // padding: 20px 20px;
  background-color: #fff;
  // height: 350px;
  border-radius: 10px;
  transition: 0.3s linear all;
  color: #222222;
  // overflow-y: scroll;
  overflow: hidden;
}

/* width */
:host::ng-deep .shadow::-webkit-scrollbar {
  width: 90% !important;
  height: 8px;
}

/* Track */
:host::ng-deep .shadow::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #abddff !important; 
  border-radius: 5px !important;
}
 
/* Handle */
:host::ng-deep .shadow::-webkit-scrollbar-thumb {
  background: #056CB1 !important; 
  border-radius: 5px !important;
}

/* Handle on hover */
:host::ng-deep .shadow::-webkit-scrollbar-thumb:hover {
  background: #056CB1 !important; 
}

   //By mani
   table  { border-collapse: collapse; width: 100%; }
   th, td { padding: 8px 16px; }
   th     { background-color: #056CB1 !important; }
   
 /* Scroll bar CSS */
      ::-webkit-scrollbar {
       width: 5px;
       height: 8px !important;
 /* background: #000; */
   }
   ::-webkit-scrollbar-thumb {
       background-color: #056CB1 !important;
       border-radius: 1px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
   }




  