<div class="container-fluid">
    <div class="row d-flex justify-content-start">
        <p class="ml-3 title-header"> Add Order </p>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form>
                    <div class="row" style="padding: 15px;">
                        <div class="col-6" style="border-right: 1px solid black;">
                            <div class="form-group row d-flex justify-content-center">
                                <label for=""  class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex justify-content-center">
                                <label for=""  class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex justify-content-center">
                                <label for=""  class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex justify-content-center">
                                <label for=""  class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex justify-content-center">
                                <label for=""  class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex justify-content-center">
                                <label for=""  class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex justify-content-center">
                                <label for=""  class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex justify-content-center">
                                <label for=""  class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex justify-content-center">
                                <label for=""  class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex justify-content-center">
                                <label for=""  class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex justify-content-center">
                                <label for=""  class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex justify-content-center">
                                <label for=""  class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group row d-flex justify-content-center">
                                <label for=""  class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex justify-content-center">
                                <label for=""  class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex justify-content-center">
                                <label for=""  class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex justify-content-center">
                                <label for=""  class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex justify-content-center">
                                <label for=""  class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex justify-content-center">
                                <label for=""  class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex justify-content-center">
                                <label for=""  class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex justify-content-center">
                                <label for=""  class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex justify-content-center">
                                <label for=""  class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex justify-content-center">
                                <label for=""  class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex justify-content-center">
                                <label for=""  class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row d-flex justify-content-center">
                                <label for=""  class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row justify-content-center" style="padding:15px;">
                    <button class="btn btn-sm btn_bg mr-1">Save</button>
                    <button class="btn btn-sm btn_bg">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
