<div class="container-fluid" style="background-color: #ffffff;">
    <div class="row d-flex justify-content-end">
        <div class="mr-5 mt-2 text_color_main mobile">
            <p><a style="text-decoration: none; color:#056CB1;" href="tel:{{contact}}"> {{contact}} </a></p>
            
        </div>
        <div class="mr-2 mt-2 text_color_main mobile">
            <p><a style="text-decoration: none; color:#056CB1;" href="mailto:{{email}}">{{email}}</a></p>
        </div>
        <div style="border-right:2px solid #056CB1; margin:6px;">

        </div>
        <div class="ml-2 mr-5 mt-2 text_color_main mar-r">
            <a class="text_color_main" [routerLink]="['/login']" routerLinkActive="router-link-active" > <i class="fa fa-user" style="font-size: 20px;"> Login </i></a>
        </div>
    </div>
</div>
    
<nav class="navbar sticky-top navbar-expand-md navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand ml-5"><img src="{{logoUrl}}" alt="" class="img-fluid" style="height: 50px; width:auto;"></a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTransparentContent">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-center justify-content-end" id="navbarTransparentContent">
            <ul class="navbar-nav ml-auto mr-3">
              <li class="nav-item mx-1" *ngFor="let item of NavLinksList">
                <a class="nav-link align-items-center d-flex nav-link-ltr" href="{{item.link}}" > {{item.label}}</a>
              </li>
            </ul>
          </div>
        </div>
</nav>
<div style="background-color: #e0f2ff;">

        
    <div class="card card_bottom_shadow" style="padding-bottom: 50px; border-bottom-left-radius:50px; border-bottom-right-radius:50px; border:none;">
        <div>
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let item of BannerList; let i = index;" style="background-color: transparent;">
                <ng-template carouselSlide dotContent="{{i+1}}" [id]="item.id">
                    <div class="mb-5" style="border: none;">
                        <div class="containerbanner">
                            <img src="{{item.image}}" alt="" class="img-fluid" style="height: 80%;">
                            <div class="centered">
                                <div style="text-align: center; width:75%">
                                    <h2 class="text-dark mobile-text" style="font-size: 42px;"><b>{{item.title}}</b></h2>
                                    <p class="text-dark mobile-text" style="font-size: 18px;"><b>{{item.content}}</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>


<div class="container-fluid">
    <div class="card" style="margin-right:50px; margin-left:50px; margin-top:-60px; margin-bottom:-20px; border-radius:25px; background-color:#f3f3f3; border:none;">
        <div class="row" style="text-align: center; padding:40px;">
            <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let item of FeaturesList">
                <img src="{{item.icon}}" alt="" class="img-fluid" style="height: 80px; width:80px;">
                <h3 class="mt-2 mb-2">{{item.title}}</h3>
                <p style="font-size: 14px; padding:5px;">{{item.content}}</p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="jumbotron jumbotron-fluid" style="background-image:url(../../../assets/bg-overlay.png); background-repeat:no-repeat; background-position:center; background-size:cover; height:auto;">
    <div class="container" style="text-align: center;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 d-flex" style="justify-content: center; align-items:center;">
                <div>
                    <h4 class="mt-3 text-white pb-3">{{hero_sub_title}}</h4>
                    <h1 class="mt-2 text-white pb-3">{{hero_title}}</h1>
                    <div class="mt-5 mb-2" [innerHtml]="hero_content">

                    </div>

                    <div class="mt-2">
                        <a class="btn btn-sm mt-5" href="{{hero_link}}" target="_blank" style="font-size: 16px; color:#056CB1; background-color:white; border-radius:40px;">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="card card_shadow" style="margin-right:20px; margin-left:20px; margin-top:-50px; margin-bottom:25px; border-radius:25px; border:none;">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="{{buyer_image}}" alt="" class="img-fluid">
            </div>

            <div class="col-lg-8 col-md-6 col-sm-12">
                <div style="padding: 20px; text-align:start">
                    <h1 class="mt-5"><b>{{buyer_title}}</b></h1>
                </div>
                <div style="padding: 20px; text-align:left">
                    <p>{{buyer_content}}</p>
                </div>
                <div style="padding: 10px; text-align:right">
                    <p class="mr-5"> <a style="color: #056CB1;" href="{{buyer_link}}" target="_blank">Read More</a> </p>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card card_shadow" style="margin-right:20px; margin-left:20px; margin-top:10px; margin-bottom:-20px; border-radius:25px;border:none;">
        <div class="row">
            
            <div class="col-lg-8 col-md-6 col-sm-12">
                <div style="padding: 20px; text-align:start">
                    <h1 class="ml-5 mt-5"><b>{{seller_title}}</b></h1>
                </div>
                <div style="padding: 20px; text-align:left">
                    <p class="ml-5">{{seller_content}}</p>
                </div>
                <div style="padding: 20px; text-align:right">
                    <p class="ml-5"> <a style="color: #056CB1;" href="{{seller_link}}" target="_blank">Read More</a> </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="{{seller_image}}" alt="" class="img-fluid" >
            </div>

        </div>
    </div>
</div>

<div class="hero-container">
  
    <div class="hero-image">
      <img src="../../../assets/herobg.png">
    </div>
    
    <div class="hero-overlay">
      <div class="container">
          <div class="row" style="text-align: center; margin-top:50px;">
              <div class="col-12 mb-5">
                <h6>Lorem ipsum dolor sit amet</h6>
                <h1>Lorem ipsum dolor sit amet,</h1>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12" style="text-align: end;">
                <div class="row" *ngFor="let item of ServicesList; let i = index;" style="margin:1px;">
                    <div class="d-flex align-items-end justify-content-end mb-5" *ngIf="i % 2 == 0">
                    
                        <div class="">
                          <h6 class="mb-2" style="font-weight: 600; color:white">{{item.title}}</h6>
                          <p class="text-white" style="font-size: 12px;">{{item.content}}</p>
                        </div>
                        <div class="ml-4">
                            <div class="p-4 rounded-circle text-dark font-weight-bold d-flex align-items-center justify-content-center" style="height: 70px; width: 70px; background-color: #ffffff">
                              <img src="{{item.icon}}" alt="" class="img-fluid" style="height: 25px; width:auto;">
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12" style="text-align: start;">
                <div class="row" *ngFor="let item of ServicesList; let i = index;" style="margin:1px;">
                    <div class="d-flex justify-content-start align-items-end mb-5" *ngIf="i % 2 != 0">
                        <div class="mr-4">
                            <div class="p-4 rounded-circle text-dark font-weight-bold d-flex align-items-center justify-content-center" style="height: 70px; width: 70px; background-color: #ffffff">
                                <img src="{{item.icon}}" alt="" class="img-fluid" style="height: 25px; width:auto;">
                            </div>
                        </div>
                        <div class="">
                          <h6 class="mb-2" style="font-weight: 600; color:white">{{item.title}}</h6>
                          <p class="text-white" style="font-size: 12px;">{{item.content}}</p>
                        </div>
                        
                    </div>
                </div>
            </div>
          </div>
      </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-6">
            <div class="row d-flex justify-content-center" style="padding: 40px;">
                <div class="col-lg-12 col-md-6 col-sm-12" style="text-align: left;">
                    <h1 style="font-weight: 400;"> {{mobile_section_title}} </h1>
                    <p style="font-style: italic;">{{mobile_section_content}}</p>
                </div>
            </div>

            <div class="row" style="padding: 40px;">
                <div class="col-lg-12 col-md-6 col-sm-12">
                    <div class="row d-flex align-items-end justify-content-center">
                        <a href="{{playstore_link}}" target="_blank"><img class="img-fluid" src="../../../assets/Google Play.png" alt="Get it on Google Play" style="height: 80px; width:auto;"></a>
                        <a href="{{applestore_link}}" target="_blank"><img class="img-fluid" src="../../../assets/App Store.png" alt="Get it on Google Play" style="height: 80px; width:auto;"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <img src="{{mobile_section_image}}" alt="" class="img-fluid">
        </div>
    </div>
</div>









