<div class="container-fluid">
    <h4 class="text_color_black" *ngIf="addmode"><b>Add New User Type</b></h4>
    <h4 class="text_color_black" *ngIf="editmode"><b>Update User Type</b></h4>
    <div class="card card_border_radius card_top_shadow">
        <div style="padding: 20px;">

            <form [formGroup]="addUserTypeForm">
                <div class="form-group row d-flex justify-content-center">
                    <label for="" class="col-sm-2 col-form-label">User Type Name</label>
                    <div class="col-sm-6">
                        <input type="text" formControlName="login_user_type_name" class="form-control">
                        

                        <span class="text-danger"
                        *ngIf="(addUserTypeForm.controls.login_user_type_name.touched) && addUserTypeForm.controls.login_user_type_name.errors?.required">
                        User Type Name is required
                        </span>
                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center">
                    <label for=""  class="col-sm-2 col-form-label">Status</label>
                    <div class="col-sm-6">
                        <select formControlName="status" class="form-control">
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn_bg btn-sm mr-1" (click)="addUserType()" *ngIf="addmode">Save</button>
                <button type="button" class="btn btn_bg btn-sm mr-1" (click)="updateUserType()" *ngIf="editmode">Update</button>
                <button type="button" class="btn btn_bg btn-sm mr-1" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>