<section class="header-3">
    <div class="container">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center strech">
            <div fxFlex="50%">
                <!-- <mat-tab-group mat-align-tabs="start">
                    <mat-tab label="Catalog 1"> -->
                        <div class="con">
                            <h3>Select model by parameters</h3>
                            <p>If you do not remember the VIN number, then fill in the parameters below</p>

                            <table style="width: 100%;">
                                <tr>
                                    <td class="t-lb">Brand</td>
                                    <td>
                                        <!-- <mat-form-field appearance="fill">
                                            <mat-label>Not chosen</mat-label>
                                            <mat-select>
                                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                                    {{food.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field> -->
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-lb">Model</td>
                                    <td>
                                        <!-- <mat-form-field appearance="fill">
                                            <mat-label>Not chosen</mat-label>
                                            <mat-select>
                                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                                    {{food.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field> -->
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-lb">Model</td>
                                    <td>
                                        <!-- <mat-form-field appearance="fill">
                                            <mat-label>Not chosen</mat-label>
                                            <mat-select>
                                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                                    {{food.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field> -->
                                    </td>
                                </tr>
                            </table>
                            <div class="text-center">
                                <button class="btn_bg btn" color="primary">Search</button>

                            </div>
                        </div>
                    <!-- </mat-tab> -->
                    <!-- <mat-tab label="E-Parts Catalog"> -->

                        <div class="con">
                            <h3>Select model by parameters</h3>
                            <p>If you do not remember the VIN number, then fill in the parameters below</p>

                            <table style="width: 100%;">
                                <tr>
                                    <td class="t-lb">Brand</td>
                                    <td>
                                        <!-- <mat-form-field appearance="fill">
                                            <mat-label>Not chosen</mat-label>
                                            <mat-select>
                                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                                    {{food.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field> -->
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-lb">Model</td>
                                    <td>
                                        <!-- <mat-form-field appearance="fill">
                                            <mat-label>Not chosen</mat-label>
                                            <mat-select>
                                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                                    {{food.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field> -->
                                    </td>
                                </tr>
                                <tr>
                                    <td class="t-lb">Model</td>
                                    <td>
                                        <!-- <mat-form-field appearance="fill">
                                            <mat-label>Not chosen</mat-label>
                                            <mat-select>
                                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                                    {{food.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field> -->
                                    </td>
                                </tr>
                            </table>
                            <div class="text-center">
                                <button class="btn_bg btn" color="primary">Search</button>

                            </div>
                        </div>
                    <!-- </mat-tab>

                </mat-tab-group> -->


            </div>
            <div fxFlex="50%">
                <div style="margin-top:48px">
                    <!-- <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" color="accent"
                        maxWidth="auto" proportion="25" slides="5" [loop]="true" [hideArrows]="false"
                        [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
                        <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index"
                            [image]="slide.image" overlayColor="" [hideOverlay]="false"></mat-carousel-slide>
                    </mat-carousel> -->
                </div>
            </div>
        </div>
    </div>
</section>
<section style="padding: 20px 0px;">
    <div class="container con" style=" padding: 80px 0px;background-color: #fff;">
        <h3 style="margin-left: 20px;">Brands</h3>
    </div>

</section>