<div class="container-fluid">
    <div class="card card_border_radius card_top_shadow">
        <div style="padding: 20px;">
            <h4 class="text_color_main" *ngIf="addmode"><b>Add New Configuration_details</b></h4>
            <h4 class="text_color_main" *ngIf="editmode"><b>Update Configuration_details</b></h4>
            <form [formGroup]="addConfiguration_detailsForm">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row d-flex justify-content-center">
                            <label for="" class="col-sm-2 col-form-label">Configuration Name</label>
                            <div class="col-sm-4">
                                <input type="text" formControlName="config_name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row d-flex justify-content-center">
                            <label for="" class="col-sm-2 col-form-label">Configuration URL</label>
                            <div class="col-sm-4">
                                <textarea formControlName="config_URL" class="form-control" cols="30" rows="5"></textarea>
                            </div>
                        </div>
             
                        <div class="form-group row d-flex justify-content-center">
                            <label for="" class="col-sm-2 col-form-label">Remarks</label>
                            <div class="col-sm-4">
                                <input type="text" formControlName="remarks" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row d-flex justify-content-center">
                            <label for=""  class="col-sm-2 col-form-label">Status</label>
                            <div class="col-sm-4">
                                <select formControlName="status" class="form-control">
                                    <option value="true">Active</option>
                                    <option value="false">Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn_bg btn-sm mr-1" (click)="addConfiguration_details()" *ngIf="addmode">Save</button>
                <button type="button" class="btn btn_bg btn-sm mr-1" (click)="updateConfiguration_details()" *ngIf="editmode">Update</button>
                <button type="button" class="btn btn_bg btn-sm mr-1" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>