<div class="container-fluid custom_bg_main">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image">
            <div class="top-left"> <a style="color: white;" [routerLink]="['/navigation/home']" routerLinkActive="router-link-active" > <i class="fa fa-chevron-left"></i> Back to Home </a> </div>
        </div>


        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto" style="text-align: center;">
                            <img src="../../assets/HLogo.jpeg" alt="" srcset="" class="img-fluid" style="height: 80px;width:auto;">
                            <p class="mb-4 text_color_main" style="font-size: 25px;">Login</p>
                            <form  [formGroup]="LoginForm">
                                <div class="form-group mb-3">
                                    <input id="inputEmail" type="email" placeholder="Email address" formControlName="email" required="" autofocus="" class="form-control border-0 shadow-sm px-4">
                                    <span class="text-danger"
                                    *ngIf="(LoginForm.controls.email.touched) && LoginForm.controls.email.errors?.required ">
                                    Email id is required
                                </span>
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputPassword" type="password" formControlName="password" placeholder="Password" required="" class="form-control border-0 shadow-sm px-4 text-dark">
                                    <span class="text-danger"
                                    *ngIf="(LoginForm.controls.password.touched) && LoginForm.controls.password.errors?.required ">
                                    Password is required
                                </span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="custom-control custom-checkbox mb-3">
                                        <input id="customCheck1" type="checkbox" checked class="custom-control-input">
                                        <label for="customCheck1" class="custom-control-label">Remember me</label>
                                    </div>
                                    <div>
                                        <a class="text_color_main" [routerLink]="['/forgot-password']" routerLinkActive="router-link-active" >Forgot Password</a>
                                    </div>
                                </div>
                                <div class="form-group mb-3" style="float:left;width: 100%;">
                                <button type="submit" (click)="login()" class="btn btn_bg btn-block text-uppercase mb-2 shadow-sm" style="margin: 0 auto;">Login</button>
                              </div>
                               <div class="">
                                <span style="font-size: 9px;
                                color: lightgray;">version 190821</span>
                               </div>
                            </form>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>
