
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card" style="padding: 40px;">
                <h4 style="color: black;">ABOUT SECTION</h4>
                <form [formGroup]="aboutForm">
                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label for="">Title</label>
                            <input type="text" class="form-control" formControlName="title"> 
                            <span class="text-danger"
                            *ngIf="(aboutForm.controls.title.touched) && aboutForm.controls.title.errors?.required">
                             Title is required
                            </span>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label for="">Sub Title</label>
                            <input type="text" class="form-control" formControlName="sub_title"> 
                            <span class="text-danger"
                            *ngIf="(aboutForm.controls.sub_title.touched) && aboutForm.controls.sub_title.errors?.required">
                            Sub Title is required
                            </span>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label for="">Content:</label>
                            <angular-editor formControlName="content" [config]="editorConfig"></angular-editor>
                            <span class="text-danger"
                            *ngIf="(aboutForm.controls.content.touched) && aboutForm.controls.content.errors?.required">
                            Content is required
                            </span>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label for="">Link</label>
                            <input type="text" class="form-control" formControlName="link"> 
                            <span class="text-danger"
                            *ngIf="(aboutForm.controls.link.touched) && aboutForm.controls.link.errors?.required">
                            Link is required
                            </span>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <button class="btn btn-sm btn_bg" (click)="updateabout()" > Update </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>