<div class="container-fluid custom_bg_main">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image">
            <div class="top-left"> <a style="color: white;" [routerLink]="['/login']" routerLinkActive="router-link-active" > <i class="fa fa-chevron-left"></i> Back to Login </a> </div>
        </div>


        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto" style="text-align: center;">
                            <img src="../../assets/HLogo.jpeg" alt="" srcset="" class="img-fluid" style="height: 80px;width:auto;">
                            <p class="mb-4 text_color_main" style="font-size: 25px;">Reset Password</p>
                            <form>
                                <div class="form-group mb-3">
                                    <input id="inputPassword" type="password" placeholder="New Password" required="" class="form-control border-0 shadow-sm px-4 text-dark">
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputPassword" type="password" placeholder="Re-Enter New Password" required="" class="form-control border-0 shadow-sm px-4 text-dark">
                                </div>
                                
                                <button type="submit" class="btn btn_bg btn-block text-uppercase mb-2 shadow-sm" (click)="ResetPassword()">Reset Password</button>
                            </form>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>
