<div class="container-fluid">
    <div class="card card_border_radius" style="padding: 10px;">
        <h4 class="text_color_main" *ngIf="addmode"><b>Add New Seller</b></h4>
        <h4 class="text_color_main" *ngIf="editmode"><b>Update Seller</b></h4>
        <form [formGroup]="SellersForm">
            <div class="container-fluid mt-3 mb-3">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item  card_border_radius" role="presentation" >
                        <a class="nav-link active" id="personal-tab" data-toggle="tab" href="#personal" role="tab"
                            aria-controls="personal" aria-selected="true">Personal Details</a>
                    </li>
                    <li class="nav-item  card_border_radius" role="presentation" style="pointer-events: none;">
                        <a class="nav-link" id="business-tab" data-toggle="tab"  href="#business" #businessteb role="tab" aria-controls="business"
                            aria-selected="false">Business Details</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="personal-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="mt-3 text-dark">Business Information</h4>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Seller ID</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Auto Generated"
                                    formControlName="user_id" [readonly]="editmode ? true : false" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Business Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Enter Business Name"
                                    (ngModelChange)="formnext()" formControlName="name">
                                <span class="text-danger"
                                    *ngIf="(SellersForm.controls.name.touched) && SellersForm.controls.name.errors?.required ">
                                    Business Name is required
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">Subscription
                                Plan</label>
                            <div class="col-sm-10">
                                <select class="form-control" formControlName="subscription_plan_id"
                                    (ngModelChange)="formnext()">
                                    <option value='none'>None</option>
                                    <option value="plan1">Plan1</option>
                                </select>
                                <span class="text-danger"
                                    *ngIf=" (SellersForm.controls.subscription_plan_id.touched) &&  SellersForm.controls.subscription_plan_id.errors?.required ">
                                    Subscription Plan is required
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">Status</label>
                            <div class="col-sm-10">
                                <select class="form-control" formControlName="status"
                                    (ngModelChange)="formnext()">
                                    <option value=undefined>Choose</option>
                                    <option value="active">Active</option>
                                    <option value="inactive">Inactive</option>
                                </select>
                                <span class="text-danger"
                                    *ngIf=" (SellersForm.controls.status.touched) &&  SellersForm.controls.status.errors?.required ">
                                    Status is required
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">File Upload</label>
                            <div class="col-sm-10">
                                <input type="file" class="custom-file-input" id="" (change)="UploadFile($event)" >
                                <label class="custom-file-label" for="customFile">Choose file</label>

                                <div *ngIf="fileUploaded == false">
                                    <p class="text-danger">Please Upload an file</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">


                                <div class="d-flex justify-content-end"><button *ngIf="addmode" type="button"
                                        class="btn btn_bg btn-sm mr-1" [disabled]="form1 == false" data-dismiss="modal"
                                        (click)="businessteb.click()">Next</button>
                                    <button class="btn btn_bg btn-sm" (click)="cancel()"
                                        data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade" id="business" role="tabpanel" aria-labelledby="business-tab">

                        <div class="row">
                             <div class="col-6">
                                    <h4 class="mt-3 text-dark">Billing Address</h4>
                                    <div>
                                        <div class="form-group row">
                                            <div class="col-sm-3">
                                                <label for="exampleFormControlSelect1">Country</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <select class="form-control" formControlName="b_country">
                                                    <option value="">Choose</option>
                                                    <option *ngFor="let item of countryList" [value]="item.id">
                                                        {{item.country_name}}</option>
                                                </select>
                                                <span class="text-danger"
                                                    *ngIf=" (SellersForm.controls.b_country.touched) &&  SellersForm.controls.b_country.errors?.required ">
                                                    Country is required
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-3">
                                                <label for="exampleFormControlSelect1">State</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <select class="form-control" formControlName="b_state">
                                                    <option value="">Choose</option>
                                                    <option value="1">State 1</option>
                                                    <option value="2">State 2</option>
                                                </select>
                                                <span class="text-danger"
                                                    *ngIf=" (SellersForm.controls.b_state.touched) &&  SellersForm.controls.b_state.errors?.required ">
                                                    State is required
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-3">
                                                <label for="exampleFormControlInput1">City</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" placeholder="Enter City Name"
                                                    formControlName="b_city">
                                                <span class="text-danger"
                                                    *ngIf=" (SellersForm.controls.b_city.touched) &&  SellersForm.controls.b_city.errors?.required ">
                                                    City is required
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-3">
                                                <label for="exampleFormControlInput1">Address Line 1</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" placeholder="Enter Address Line 1"
                                                    formControlName="b_address1">
                                                <span class="text-danger"
                                                    *ngIf=" (SellersForm.controls.b_address1.touched) &&  SellersForm.controls.b_address1.errors?.required ">
                                                    Address Line 1 is required
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-3">
                                                <label for="exampleFormControlInput1">Address Line 2</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" placeholder="Enter Address Line 2"
                                                    formControlName="b_address2">
                                                <span class="text-danger"
                                                    *ngIf=" (SellersForm.controls.b_address2.touched) &&  SellersForm.controls.b_address2.errors?.required ">
                                                    Address Line 2 is required
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-3">
                                                <label for="exampleFormControlInput1">Display Name</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" placeholder="Enter Display Name"
                                                    formControlName="b_displayname">
                                                <span class="text-danger"
                                                    *ngIf=" (SellersForm.controls.b_displayname.touched) &&  SellersForm.controls.b_displayname.errors?.required ">
                                                    Display Name is required
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-3">
                                                <label for="exampleFormControlInput1">Phone Number</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" placeholder="Enter Phone Number"
                                                    formControlName="b_phonenumber">
                                                <span class="text-danger"
                                                    *ngIf=" (SellersForm.controls.b_phonenumber.touched) &&  SellersForm.controls.b_phonenumber.errors?.required ">
                                                    Phone Number is required
                                                </span>
                                            </div>
    
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-3">
                                                <label for="exampleFormControlInput1">Country Code</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" placeholder="Enter Country Code"
                                                    formControlName="b_countrycode">
                                                <span class="text-danger"
                                                    *ngIf=" (SellersForm.controls.b_countrycode.touched) &&  SellersForm.controls.b_countrycode.errors?.required ">
                                                    Country Code is required
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-6">
                                <h4 class="mt-3 text-dark">Shipping Address</h4>

                                <div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlSelect1"
                                            class="col-sm-3 col-form-label">Country</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" formControlName="sh_country">
                                                <option value="">Choose</option>
                                                <option *ngFor="let item of countryList" [value]="item.id">
                                                    {{item.country_name}}</option>

                                            </select>
                                            <span class="text-danger"
                                                *ngIf=" (SellersForm.controls.sh_country.touched) &&  SellersForm.controls.sh_country.errors?.required ">
                                                Country is required
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlSelect1"
                                            class="col-sm-3 col-form-label">State</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" formControlName="sh_state">
                                                <option value="">Choose</option>
                                                <option value="1">State 1</option>
                                                <option value="2">State 2</option>

                                            </select>
                                            <span class="text-danger"
                                                *ngIf=" (SellersForm.controls.sh_state.touched) &&  SellersForm.controls.sh_state.errors?.required ">
                                                State is required
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1"
                                            class="col-sm-3 col-form-label">City</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter City Name"
                                                formControlName="sh_city">
                                            <span class="text-danger"
                                                *ngIf=" (SellersForm.controls.sh_city.touched) &&  SellersForm.controls.sh_city.errors?.required ">
                                                City is required
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Address
                                            Line 1</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter Address Line 1"
                                                formControlName="sh_address1">
                                            <span class="text-danger"
                                                *ngIf=" (SellersForm.controls.sh_address1.touched) &&  SellersForm.controls.sh_address1.errors?.required ">
                                                Address Line 1 is required
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Address
                                            Line 2</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter Address Line 2"
                                                formControlName="sh_address2">
                                            <span class="text-danger"
                                                *ngIf=" (SellersForm.controls.sh_address2.touched) &&  SellersForm.controls.sh_address2.errors?.required ">
                                                Address Line 2 is required
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Display
                                            Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter Display Name"
                                                formControlName="sh_display_name">
                                            <span class="text-danger"
                                                *ngIf=" (SellersForm.controls.sh_display_name.touched) &&  SellersForm.controls.sh_display_name.errors?.required ">
                                                Display Name is required
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Phone
                                            Number</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter Phone Number"
                                                formControlName="sh_phone_number">
                                            <span class="text-danger"
                                                *ngIf=" (SellersForm.controls.sh_phone_number.touched) &&  SellersForm.controls.sh_phone_number.errors?.required ">
                                                Phone Number is required
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Country
                                            Code</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter Country Code"
                                                formControlName="sh_country_code">
                                            <span class="text-danger"
                                                *ngIf=" (SellersForm.controls.sh_country_code.touched) &&  SellersForm.controls.sh_country_code.errors?.required ">
                                                Country Code is required
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h4 class="mt-3 text-dark">Pickup Address</h4>
                                <div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Address
                                            Line</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter Pickup Address"
                                                formControlName="p_address">
                                            <span class="text-danger"
                                                *ngIf=" (SellersForm.controls.p_address.touched) &&  SellersForm.controls.p_address.errors?.required ">
                                                Pickup Address is required
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="mt-3 text-dark">Payment Information</h4>
                                <div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Payment
                                            Mode</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" formControlName="payment_mode">
                                                <option value="">Choose</option>
                                                <option value="1">State 1</option>
                                                <option value="2">State 2</option>
                                            </select>
                                            <span class="text-danger"
                                                *ngIf=" (SellersForm.controls.payment_mode.touched) &&  SellersForm.controls.payment_mode.errors?.required ">
                                                Payment Mode is required
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <h4 class="mt-3 text-dark">Product Information</h4>
                                <div>

                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Product
                                            type</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" formControlName="product_type">
                                                <option value="">Choose</option>
                                                <option value="1">State 1</option>
                                                <option value="2">State 2</option>
                                            </select>
                                            <span class="text-danger"
                                                *ngIf=" (SellersForm.controls.product_type.touched) &&  SellersForm.controls.product_type.errors?.required ">
                                                Product type is required
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Trading
                                            type</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" formControlName="trading_type">
                                                <option value="">Choose</option>
                                                <option value="1">State 1</option>
                                                <option value="2">State 2</option>
                                            </select>
                                            <span class="text-danger"
                                                *ngIf=" (SellersForm.controls.trading_type.touched) &&  SellersForm.controls.trading_type.errors?.required ">
                                                Subscription Plan is required
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-6">
                                <h4 class="mt-3 text-dark">Identity Documents</h4>
                                <div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlSelect1" class="col-sm-3 col-form-label">Upload
                                            Front Side</label>
                                        <div class="col-sm-9">
                                            <input type="file" class="custom-file-input" id="customFile">
                                            <label class="custom-file-label" for="customFile">Upload Front Side</label>
                                        </div>

                                    </div>

                                    <div class="form-group row">
                                        <label for="exampleFormControlSelect1" class="col-sm-3 col-form-label">Upload
                                            Back Side</label>
                                        <div class="col-sm-9">
                                            <input type="file" class="custom-file-input" id="customFile">
                                            <label class="custom-file-label" for="customFile">Upload Back Side</label>
                                        </div>

                                    </div>
                                </div>



                                <h4 class="mt-3 text-dark">Business Document</h4>
                                <div class="form-row">

                                    <div class="form-group row">
                                        <label for="exampleFormControlSelect1" class="col-sm-3 col-form-label">Upload
                                            File</label>
                                        <div class="col-sm-9">
                                            <input type="file" class="custom-file-input" id="customFile">
                                            <label class="custom-file-label" for="customFile">Upload Business
                                                License</label>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1"
                                            class="col-sm-3 col-form-label">Registration Status</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" formControlName="doc_regstatus">
                                                <option value="">Choose</option>
                                                <option value="1">Country 1</option>
                                                <option value="2">Country 2</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1"
                                            class="col-sm-3 col-form-label">Registration Fail Reason</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" formControlName="doc_failreason">
                                                <option value="">Choose</option>
                                                <option value="1">Country 1</option>
                                                <option value="2">Country 2</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>


                                <h4 class="mt-3 text-dark">VAT Information</h4>
                                <div class="form-row">

                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">TAX
                                            Registration Number</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter Address"
                                                formControlName="taxregnumber">
                                        </div>
                                    </div>

                                    <div class="form-group row">

                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Upload
                                            Business License</label>
                                        <div class="col-sm-9">
                                            <input type="file" class="custom-file-input" id="customFile">
                                            <label class="custom-file-label" for="customFile">Upload Business
                                                License</label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <h4 class="mt-3 text-dark">Identity Verification</h4>
                                <div>
                                    <div class="form-group row">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                                                formControlName="authenticated">
                                            <label class="form-check-label" for="defaultCheck1"
                                                style="font-size: 12px;">
                                                I’m Company seller, I Manage this account on behalf of a company and I
                                                have a trade license
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Select
                                            Country</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" formControlName="business_location">
                                                <option value="">Choose</option>
                                                <option value="1">Country 1</option>
                                                <option value="2">Country 2</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">National
                                            or Residence ID</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control"
                                                placeholder="Enter National or Residence ID"
                                                formControlName="residenceid">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Expiry
                                            Date</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter Expiry Date"
                                                formControlName="expiry_date">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Country Of
                                            Issue</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter Country Of Issue"
                                                formControlName="country_of_issue">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">First
                                            Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter First Name"
                                                formControlName="first_name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Middle
                                            Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter Middle Name"
                                                formControlName="middle_name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Last
                                            Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter Last Name"
                                                formControlName="last_name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Date Of
                                            Birth </label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter Date Of Birth"
                                                formControlName="dob">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Registered
                                            Business Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control"
                                                placeholder="Enter Registered Business Name" formControlName="reg_name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">License
                                            Number</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter License Number"
                                                formControlName="license_number">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Address
                                            Line</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter Address"
                                                formControlName="address_line">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <h4 class="mt-3 text-dark">Bank Details</h4>
                                <div>

                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Benificary
                                            Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter Benificary Name"
                                                formControlName="beneficiary_name">

                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Bank
                                            Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter Bank Name"
                                                formControlName="bankname">

                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Branch
                                            Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter Branch Name"
                                                formControlName="branchname">

                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Account
                                            Number</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter Account Number"
                                                formControlName="baccountnumber">

                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">IBAN
                                            Number</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter IBAN Number"
                                                formControlName="bibannumber">

                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">SWIFT
                                            CODE</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter SWIFT CODE"
                                                formControlName="bswiftcode">

                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1"
                                            class="col-sm-3 col-form-label">Currency</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter Currency"
                                                formControlName="bcurrency">

                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Choose
                                            File</label>
                                        <div class="col-sm-9">
                                            <input type="file" class="custom-file-input" id="customFile">
                                            <label class="custom-file-label" for="customFile">Upload Bank Details
                                                Document</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <h4 class="mt-3 text-dark">Warehouse</h4>
                                <div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1"
                                            class="col-sm-3 col-form-label">Country</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" formControlName="doc_regstatus">
                                                <option value="">Choose</option>
                                                <option value="1">Country 1</option>
                                                <option value="2">Country 2</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1"
                                            class="col-sm-3 col-form-label">State</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" formControlName="doc_regstatus">
                                                <option value="">Choose</option>
                                                <option value="1">Country 1</option>
                                                <option value="2">Country 2</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1"
                                            class="col-sm-3 col-form-label">City</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter Branch Name"
                                                formControlName="branchname">

                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Address
                                            Line 1</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter Address Line 1"
                                                formControlName="b_address1">

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Address
                                            Line 2</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="Enter Address Line 2"
                                                formControlName="b_address2">

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Display
                                            Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" formControlName="b_displayname">

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Phone
                                            Number</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" formControlName="b_phonenumber">

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Country
                                            Code</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" formControlName="b_countrycode">

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Address
                                            Line</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" formControlName="b_countrycode">

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="exampleFormControlInput1" class="col-sm-3 col-form-label">Pick
                                            Address</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" formControlName="b_countrycode">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex justify-content-end">
                                    <button *ngIf="addmode" type="button" class="btn btn_bg btn-sm mr-1"
                                        (click)="addBuyers()" data-dismiss="modal">Save</button>
                                    <button *ngIf="editmode" type="button" class="btn btn_bg btn-sm mr-1"
                                        (click)="updateBuyers()" data-dismiss="modal">Update</button>
                                    <button class="btn btn_bg btn-sm" (click)="cancel()"
                                        data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- <div class="d-flex justify-content-end">
            <button *ngIf="addmode" type="button" class="btn btn_bg btn-sm mr-1" (click)="addSellers()"
                data-dismiss="modal">Add</button>
            <button *ngIf="editmode" type="button" class="btn btn_bg btn-sm mr-1" (click)="updateSellers()"
                data-dismiss="modal">Update</button>
            <button class="btn btn_bg btn-sm" (click)="cancel()" data-dismiss="modal">Cancel</button>
        </div> -->
    </div>
</div>