<div class="container-fluid">
    <h4 class="text_color_black" *ngIf="addmode"><b>Add New State</b></h4>
    <h4 class="text_color_black" *ngIf="editmode"><b>Update State</b></h4>
    <div class="card card_border_radius card_top_shadow">
        <div style="padding: 20px;">

            <form [formGroup]="addStateForm">
                <div class="form-group row d-flex justify-content-center">
                    <label for="" class="col-sm-2 col-form-label">Country Name</label>
                    <div class="col-sm-6">
                        <select formControlName="country_id" class="form-control">
                            <option *ngFor="let item of countryList" [value]="item.id">{{item.country_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center">
                    <label for="" class="col-sm-2 col-form-label">State Name</label>
                    <div class="col-sm-6">
                        <input type="text" formControlName="state_name" class="form-control">
                        

                        <span class="text-danger"
                        *ngIf="(addStateForm.controls.state_name.touched) && addStateForm.controls.state_name.errors?.required">
                        State Name is required
                        </span>
                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center">
                    <label for=""  class="col-sm-2 col-form-label">Status</label>
                    <div class="col-sm-6">
                        <select formControlName="status" class="form-control">
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn_bg btn-sm mr-1" (click)="addState()" *ngIf="addmode">Save</button>
                <button type="button" class="btn btn_bg btn-sm mr-1" (click)="updateState()" *ngIf="editmode">UPDATE</button>
                <button type="button" class="btn btn_bg btn-sm mr-1" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>