<div class="container-fluid">
    <h4 class="text_color_black" *ngIf="addmode"><b>Add New Country</b></h4>
    <h4 class="text_color_black" *ngIf="editmode"><b>Update Country</b></h4>
    <div class="card card_border_radius card_top_shadow">
        <div style="padding: 20px;">
           
            <form [formGroup]="addCountryForm">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group row d-flex justify-content-center">
                            <label for="" class="col-sm-2 col-form-label">Country Name</label>
                            <div class="col-sm-4">
                                <input type="text" formControlName="country_name" class="form-control">
                                

                             <span class="text-danger"
                             *ngIf="(addCountryForm.controls.country_name.touched) && addCountryForm.controls.country_name.errors?.required">
                             Country Name is required
                             </span>
                            </div>
                        </div>
                        <div class="form-group row d-flex justify-content-center">
                            <label for="" class="col-sm-2 col-form-label">Country Code</label>
                            <div class="col-sm-4">
                                <input type="text" formControlName="country_code" class="form-control">
                                <span class="text-danger"
                             *ngIf="(addCountryForm.controls.country_code.touched) && addCountryForm.controls.country_code.errors?.required">
                             Country Code is required
                             </span>
                            </div>
                        </div>
                        <div class="form-group row d-flex justify-content-center">
                            <label for=""  class="col-sm-2 col-form-label">Status</label>
                            <div class="col-sm-4">
                                <select formControlName="status" class="form-control">
                                    <option value="true">Active</option>
                                    <option value="false">Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn_bg btn-sm mr-1" (click)="addCountry()" *ngIf="addmode">Save</button>
                <button type="button" class="btn btn_bg btn-sm mr-1" (click)="updateCountry()" *ngIf="editmode">Update</button>
                <button type="button" class="btn btn_bg btn-sm mr-1" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>