<div class="container-fluid">
    <h4 class="text_color_black" *ngIf="addmode"><b>Add New Service</b></h4>
    <h4 class="text_color_black" *ngIf="editmode"><b>Update Service</b></h4>
    <div class="card card_border_radius" style="padding: 10px;">

        <form [formGroup]="addServicesForm">
            <div class="form-group row d-flex justify-content-center">
                <label for="" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-6"> <input type="text" formControlName="title" class="form-control"> 
                
                    <span class="text-danger"
                            *ngIf="(addServicesForm.controls.title.touched) && addServicesForm.controls.title.errors?.required">
                             Title is required
                            </span>
                </div>                
              </div>

              <div class="form-group row d-flex justify-content-center">
                <label for="" class="col-sm-2 col-form-label">Content</label>
                <div class="col-sm-6"> <input type="text" formControlName="content" class="form-control"> 
                    <span class="text-danger"
                    *ngIf="(addServicesForm.controls.content.touched) && addServicesForm.controls.content.errors?.required">
                    Content is required
                    </span>
                </div>
                
              </div>

              <div class="form-group row d-flex justify-content-center">
                <label for="" class="col-sm-2 col-form-label">Status</label>
                <div class="col-sm-6"> <select formControlName="status" class="form-control">
                  <option value="true">Active</option>
                  <option value="false">Inactive</option>
              </select> </div>
                
              </div>

              <div class="form-group row d-flex justify-content-center">
                  <div class="col-md-2"></div>
                  <div class="col-sm-6"><input type="file" name="" id="" (change)="UploadServices($event)"></div>
                  
              </div>
              <div *ngIf="!imageUploaded">
                  <p class="text_color_main">Please Upload an image  @ 1980 * 1080</p>
              </div>
              <div *ngIf="imageUploaded">
                  <img src="{{ServicesUrl}}" alt="" class="img-fluid" style="width: auto; height:75px;">
              </div>
        </form>
        
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn_bg btn-sm mr-1" (click)="addServices()" *ngIf="addmode">Save</button>
            <button type="button" class="btn btn_bg btn-sm mr-1" (click)="updateServices()" *ngIf="editmode">Update</button>
            <button type="button" class="btn btn_bg btn-sm mr-1" (click)="cancel()">Cancel</button>
        </div>
    </div>
</div>