<div class="mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/admin']" routerLinkActive="router-link-active">Admin</a>
            </li>
            <li class="breadcrumb-item"><a [routerLink]="['/admin/buyermanagement']"
                    routerLinkActive="router-link-active">Buyers</a></li>
            <li *ngIf="addmode" class="breadcrumb-item active" aria-current="page">ADD</li>
            <li *ngIf="editmode" class="breadcrumb-item active" aria-current="page">EDIT</li>
        </ol>
    </nav>
</div>

<div class="mt-1 d-flex justify-content-end">
    <button type="button" class="btn btn_bg btn-sm mr-1" data-toggle="modal" data-target="#addBuyers">New</button>
    <button type="button" class="btn btn-info btn-sm mr-1" (click)="editBuyers()">Edit</button>
    <button type="button" class="btn btn-danger btn-sm mr-1" (click)="Validate()">Delete</button>
</div>

<div>
    <h3>Buyers List</h3>
</div>

<div class="mt-1">
    <ag-grid-angular #agGrid style="width: auto; height: 750px;" class="ag-theme-alpine" [rowHeight]="'50'"
        [rowData]="Buyers" [columnDefs]="BuyerscolumnDefs" [pagination]="true">
    </ag-grid-angular>
</div>


<div class="modal fade" id="addBuyers" tabindex="-1" aria-labelledby="addBuyersLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBuyersLabel">New Buyers Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="mt-1">
                    <form [formGroup]="BuyersForm">
                        <div class="container-fluid mt-3 mb-3">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="personal-tab" data-toggle="tab" href="#personal"
                                        role="tab" aria-controls="personal" aria-selected="true">Personal Details</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="business-tab" data-toggle="tab" href="#business" role="tab"
                                        aria-controls="business" aria-selected="false">Business Details</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="personal" role="tabpanel"
                                    aria-labelledby="personal-tab">
                                    <h4 class="mt-3">Business Information</h4>
                                    <div class="form-row mt-2">
                                        <div class="form-group col-12">
                                            <label for="exampleFormControlInput1">Buyer ID</label>
                                            <input type="text" class="form-control" placeholder="Auto Generated"
                                                formControlName="login_id" [readonly]="editmode ? true : false"
                                                disabled>

                                        </div>
                                        <div class="form-group col-4">
                                            <label for="exampleFormControlInput1">Business Name</label>
                                            <input type="text" class="form-control" placeholder="Enter Business Name"
                                                formControlName="business_name">
                                           
                                        </div>
                                        <div class="form-group col-4">
                                            <label for="exampleFormControlSelect1">Subscription Plan</label>
                                            <select class="form-control" formControlName="business_subscrip_plan">
                                                <option value="">None</option>
                                                <option value="plan1">Plan1</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-4">
                                            <label for="exampleFormControlSelect1">Status</label>
                                            <select class="form-control" formControlName="business_status">
                                                <option value="">Choose</option>
                                                <option value="active">Active</option>
                                                <option value="inactive">Inactive</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-12">
                                            <input type="file" class="custom-file-input" id="customFile">
                                            <label class="custom-file-label" for="customFile">Choose file</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="business" role="tabpanel" aria-labelledby="business-tab">
                                    <h4 class="mt-3">Billing Address</h4>
                                    <div class="form-row">
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlSelect1">Country</label>
                                            <select class="form-control" formControlName="billing_country">
                                                <option value="">Choose</option>
                                                <option value="1">Country 1</option>
                                                <option value="2">Country 2</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlSelect1">State</label>
                                            <select class="form-control" formControlName="billing_state">
                                                <option value="">Choose</option>
                                                <option value="1">State 1</option>
                                                <option value="2">State 2</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">City</label>
                                            <input type="text" class="form-control" placeholder="Enter City Name"
                                                formControlName="billing_city">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">Address Line 1</label>
                                            <input type="text" class="form-control" placeholder="Enter Address Line 1"
                                                formControlName="b_address1">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">Address Line 2</label>
                                            <input type="text" class="form-control" placeholder="Enter Address Line 2"
                                                formControlName="b_address2">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">Display Name</label>
                                            <input type="text" class="form-control" placeholder="Enter Display Name"
                                                formControlName="b_displayname">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">Phone Number</label>
                                            <input type="text" class="form-control" placeholder="Enter Phone Number"
                                                formControlName="b_phonenumber">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">Country Code</label>
                                            <input type="text" class="form-control" placeholder="Enter Country Code"
                                                formControlName="b_country_code">
                                        </div>
                                    </div>


                                    <h4 class="mt-3">Shipping Address</h4>

                                    <div class="form-row">
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlSelect1">Country</label>
                                            <select class="form-control" formControlName="shipping_country">
                                                <option value="">Choose</option>
                                                <option value="1">Country 1</option>
                                                <option value="2">Country 2</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlSelect1">State</label>
                                            <select class="form-control" formControlName="shipping_state">
                                                <option value="">Choose</option>
                                                <option value="1">State 1</option>
                                                <option value="2">State 2</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">City</label>
                                            <input type="text" class="form-control" placeholder="Enter City Name"
                                                formControlName="shipping_city">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">Address Line 1</label>
                                            <input type="text" class="form-control" placeholder="Enter Address Line 1"
                                                formControlName="s_address1">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">Address Line 2</label>
                                            <input type="text" class="form-control" placeholder="Enter Address Line 2"
                                                formControlName="s_address2">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">Display Name</label>
                                            <input type="text" class="form-control" placeholder="Enter Display Name"
                                                formControlName="s_displayname">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">Phone Number</label>
                                            <input type="text" class="form-control" placeholder="Enter Phone Number"
                                                formControlName="s_phonenumber">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">Country Code</label>
                                            <input type="text" class="form-control" placeholder="Enter Country Code"
                                                formControlName="s_country_code">
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                                                formControlName="s_phoneno_verified">
                                            <label class="form-check-label" for="defaultCheck1">Phone Number
                                                Verification</label>
                                        </div>
                                    </div>

                                    <h4 class="mt-3">Pickup Address</h4>
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            <label for="exampleFormControlInput1">Address Line</label>
                                            <input type="text" class="form-control" placeholder="Enter Pickup Address"
                                                formControlName="pickup_address">
                                        </div>

                                    </div>
                                    <h4 class="mt-3">Payment Information</h4>
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            <label for="exampleFormControlInput1">Payment Mode</label>
                                            <select class="form-control" formControlName="payment_info">
                                                <option value="">Choose</option>
                                                <option value="1">State 1</option>
                                                <option value="2">State 2</option>
                                            </select>
                                        </div>

                                    </div>

                                    <h4 class="mt-3">Product Information</h4>
                                    <div class="form-row">

                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">Product type</label>
                                            <select class="form-control" formControlName="product_type">
                                                <option value="">Choose</option>
                                                <option value="1">State 1</option>
                                                <option value="2">State 2</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">Trading type</label>
                                            <select class="form-control" formControlName="trading_type">
                                                <option value="">Choose</option>
                                                <option value="1">State 1</option>
                                                <option value="2">State 2</option>
                                            </select>
                                        </div>

                                    </div>

                                    <h4 class="mt-3">Identity Verification</h4>
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="defaultCheck1" formControlName="iv_locate">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    I’m Company buyer, I Manage this account on behalf of a company and
                                                    I have a trade license
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">Select Country</label>
                                            <select class="form-control" formControlName="iv_licenese">
                                                <option value="">Choose</option>
                                                <option value="1">Country 1</option>
                                                <option value="2">Country 2</option>
                                            </select>
                                        </div>


                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">National or Residence ID</label>
                                            <input type="text" class="form-control"
                                                placeholder="Enter National or Residence ID"
                                                formControlName="iv_national">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">Expiry Date</label>
                                            <input type="text" class="form-control" placeholder="Enter Expiry Date"
                                                formControlName="iv_exp_date">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">Country Of Issue</label>
                                            <input type="text" class="form-control" placeholder="Enter Country Of Issue"
                                                formControlName="iv_country_issue">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">First Name</label>
                                            <input type="text" class="form-control" placeholder="Enter First Name"
                                                formControlName="iv_f_name">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">Middle Name</label>
                                            <input type="text" class="form-control" placeholder="Enter Middle Name"
                                                formControlName="iv_m_name">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">Last Name</label>
                                            <input type="text" class="form-control" placeholder="Enter Last Name"
                                                formControlName="iv_l_name">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">Date Of Birth </label>
                                            <input type="text" class="form-control" placeholder="Enter Date Of Birth"
                                                formControlName="iv_dob">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">Registered Business Name</label>
                                            <input type="text" class="form-control"
                                                placeholder="Enter Registered Business Name"
                                                formControlName="iv_r_bussiness_name">
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">License Number</label>
                                            <input type="text" class="form-control" placeholder="Enter License Number"
                                                formControlName="iv_licenese_no">
                                        </div>
                                        <div class="form-group col-12">
                                            <label for="exampleFormControlInput1">Address Line</label>
                                            <input type="text" class="form-control" placeholder="Enter Address"
                                                formControlName="iv_r_address">
                                        </div>
                                    </div>


                                    <h4 class="mt-3">Identity Documents</h4>
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            <label for="exampleFormControlSelect1">Upload Front Side</label>
                                            <input type="file" class="custom-file-input" id="customFile">
                                            <label class="custom-file-label" for="customFile">Upload Front Side</label>
                                        </div>

                                        <div class="form-group col-12">
                                            <label for="exampleFormControlSelect1">Upload Back Side</label>
                                            <input type="file" class="custom-file-input" id="customFile">
                                            <label class="custom-file-label" for="customFile">Upload Back Side</label>
                                        </div>
                                    </div>



                                    <h4 class="mt-3">Business Document</h4>
                                    <div class="form-row">

                                        <div class="form-group col-12">
                                            <input type="file" class="custom-file-input" id="customFile">
                                            <label class="custom-file-label" for="customFile">Upload Business
                                                License</label>
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">Registration Status</label>
                                            <select class="form-control" formControlName="bus_doc_r_status">
                                                <option value="">Choose</option>
                                                <option value="1">Country 1</option>
                                                <option value="2">Country 2</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">Registration Fail Reason</label>
                                            <select class="form-control" formControlName="bus_doc_fail_reason">
                                                <option value="">Choose</option>
                                                <option value="1">Country 1</option>
                                                <option value="2">Country 2</option>
                                            </select>
                                        </div>
                                    </div>


                                    <h4 class="mt-3">VAT Information</h4>
                                    <div class="form-row">

                                        <div class="form-group col-12">
                                            <label for="exampleFormControlInput1">TAX Registration Number</label>
                                            <input type="text" class="form-control" placeholder="Enter Address"
                                                formControlName="vat_info_number">
                                        </div>

                                        <div class="form-group col-12">

                                            <label for="exampleFormControlInput1">Upload Business License</label>
                                            <input type="file" class="custom-file-input" id="customFile"
                                                formControlName="vat_r_certificate">
                                            <label class="custom-file-label" for="customFile">Upload Business
                                                License</label>
                                        </div>
                                    </div>

                                    <h4 class="mt-3">Bank Details</h4>
                                    <div class="form-row">

                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">Benificary Name</label>
                                            <input type="text" class="form-control" placeholder="Enter Benificary Name"
                                                formControlName="bank_benefi_name">
                                        </div>

                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">Bank Name</label>
                                            <input type="text" class="form-control" placeholder="Enter Bank Name"
                                                formControlName="bank_name">
                                        </div>

                                        <!-- <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Branch Name</label>
                                        <input type="text" class="form-control" placeholder="Enter Branch Name" formControlName="">
                                    </div> -->

                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">Account Number</label>
                                            <input type="text" class="form-control" placeholder="Enter Account Number"
                                                formControlName="bank_ac_no">
                                        </div>

                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">IBAN Number</label>
                                            <input type="text" class="form-control" placeholder="Enter IBAN Number"
                                                formControlName="back_iban">
                                        </div>

                                        <div class="form-group col-6">
                                            <label for="exampleFormControlInput1">SWIFT CODE</label>
                                            <input type="text" class="form-control" placeholder="Enter SWIFT CODE"
                                                formControlName="swift_code">
                                        </div>

                                        <div class="form-group col-12">
                                            <label for="exampleFormControlInput1">Currency</label>
                                            <input type="text" class="form-control" placeholder="Enter Currency"
                                                formControlName="bank_currency">
                                        </div>

                                        <div class="form-group col-12">
                                            <input type="file" class="custom-file-input" id="customFile">
                                            <label class="custom-file-label" for="customFile">Upload Bank Details
                                                Document</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end">
                    <button *ngIf="addmode" type="button" class="btn btn-success btn-sm mr-1" (click)="addBuyers()"
                        data-dismiss="modal">Add</button>
                    <button *ngIf="editmode" type="button" class="btn btn-success btn-sm mr-1" (click)="updateBuyers()"
                        data-dismiss="modal">Update</button>
                    <button class="btn btn-warning btn-sm" (click)="cancel()" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteBuyers" tabindex="-1" aria-labelledby="deleteBuyersLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteBuyersLabel">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete this Buyers ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" (click)="deleteBuyers()" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>