
<section class="header-3">
    <div class="card card_top_shadow2 card_curve_top2" style="border:none; background-color:#056CB1; padding-top:25px;">
        <div class="card card_top_shadow card_curve_top">
            <div class="container-fluid">

                <div class="row ml-5 mr-5">
                    <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: left;">
                        <img src="{{logoUrl}}" alt="logo" class="f-logo" >
                    </div>
                </div>
                <div class="row ml-5 mr-5">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div [innerHtml]="description" style="font-size: 16px; text-align: left;">

                        </div>
                        <br>
                        <div style="padding: 1px;">
                            <a class="mr-4" href="{{item.link}}" target="_blank" *ngFor="let item of medialinksList"><img src="{{item.icon}}" alt="" class="img-fluid mb-1"></a>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 d-flex" style="justify-content:center; align-items:start;">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <ul style="list-style: none; text-align: left;">
                                    <li *ngFor="let item of NavLinksList"><a href="{{item.link}}" style="text-decoration: none;">{{item.label}}</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <ul style="list-style: none; text-align: left;">
                                    <li  *ngFor="let item of UsefullLinksList"><a href="{{item.link}}" style="text-decoration: none;">{{item.label}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 d-flex" style="justify-content:flex-end; align-items:center;">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12" >
                                            <div class="input-group">
                                                <label for="" style="font-size: 14px;width:100%"> <b>Subscribe to our Newsletter</b> </label>
                                        
                                                <input type="text" class="form-control" placeholder="Enter your Email ID" aria-label="Email ID" aria-describedby="basic-addon2">
                                              
                                                
                                            </div>
                                            <button class="btn_bg btn mt-2" style="background-color: #056CB1; color:white;" type="button">Subscribe</button>
                                        </div>
                                    </div>       
                                </form>
                                <div style="text-align: center;">
                                    <img src="{{dynamics_image}}" alt="" class="img-fluid" style="height: 80px; width: auto;">
                                </div>
                                <div class="row mb-2 mt-1">
                                    <div class="col-12" style="text-align: center;">
                                        <img src="{{footer_image1}}" alt="" style="height: 40px; width: auto;" class="img-fluid mr-2 mt-1 mb-1">
                                        <img src="{{footer_image2}}" alt="" style="height: 40px; width: auto;" class="img-fluid mr-2 mt-1 mb-1">
                                        <img src="{{footer_image3}}" alt="" style="height: 40px; width: auto;" class="img-fluid mr-2 mt-1 mb-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            
            <div class="row" style="margin: 15px;">
                <div class="col-12" style="text-align: center;">
                    <p  style="color: white; font-size:15px; margin:0px !important;">{{copyrights}}</p>
                </div>
            </div>
        </div>
    </div>

    
    
</section>