.header-3 {
  background-color: #fff;
  padding: 0px 0px;
  margin-top: 50px;
}

/* .header-3::before {
  content: url('../../../assets/images/bg-01.png');
  position: relative;
  z-index: 100000;
  left: -50px;
  top: 10px;
} */
.arc{
  position: relative;
  top: -48px;
  width: 100%;
  height: 50px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #007bb5;
  color: white;
  text-align: center;
}
.fab {
  font-size: 25px;
  text-align: center;
  color: #056cb1;
  margin-right: 38px;
  margin-bottom: 15px;
}

.f-logo{
  /* margin-left: 40px; */
  margin-top: 20px;
  width: 150px;
  height: 60px;
  margin-bottom: 14px;
}
a{
  color: #056cb1 !important;
}
:host::ng-deep .mat-form-field-flex {
  border: 1px solid #cecece !important;
  border-radius: 7px !important;
  padding: 0px 10px 3px 10px;
  width: 200px;
}
:host::ng-deep .mat-form-field-infix {
  border-top: 0px solid transparent;
}
:host::ng-deep .mat-form-field {
  width: auto !important;
  float: right;
}

.card_curve_top{
    border-top-right-radius: 1200px 50px;
    border-top-left-radius: 140px 125px;
    border: none;
}

.card_curve_top2{
  border-top-right-radius: 200px 85px;
  border-top-left-radius: 140px 125px;
  border: none;
}

@media (max-width: 575px) {
  .foot {
    padding: 10px 10px;
  }
  .foot1 {
    max-height: 100% !important;
  }
   .ml5{
     margin-left: 0px !important;
   }
}