
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 style="color: black;">BUYER & SELLER Section</h4>
            <div class="card" style="padding: 40px;">
                
                <form [formGroup]="BSForm">
                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label for="">Buyer Title:</label>
                            <input type="text" class="form-control" formControlName="buyer_title"> 
                            

                            <span class="text-danger"
                            *ngIf="(BSForm.controls.buyer_title.touched) && BSForm.controls.buyer_title.errors?.required">
                            Buyer Title is required
                            </span>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label for="">Buyer Content:</label>
                            <input type="text" class="form-control" formControlName="buyer_content">  
                            <span class="text-danger"
                            *ngIf="(BSForm.controls.buyer_content.touched) && BSForm.controls.buyer_content.errors?.required">
                            Buyer Content is required
                            </span>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label for="">Buyer Link:</label>
                            <input type="text" class="form-control" formControlName="buyer_link"> 
                            <span class="text-danger"
                            *ngIf="(BSForm.controls.buyer_link.touched) && BSForm.controls.buyer_link.errors?.required">
                            Buyer Link  is required
                            </span>
                        </div>
                        <div class="form-group col-12">
                            <input type="file" name="" id="" (change)="UploadBuyerLogo($event)">
                        </div>
                        <div *ngIf="!imageUploaded1">
                            <p class="text_color_main">Please Upload an image  @ 1980 * 1080</p>
                        </div>
                        <div *ngIf="imageUploaded1">
                            <img src="{{BuyerUrl}}" alt="" class="img-fluid" style="width: auto; height:75px;">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label for="">Seller Title:</label>
                            <input type="text" class="form-control" formControlName="seller_title"> 
                            <span class="text-danger"
                            *ngIf="(BSForm.controls.seller_title.touched) && BSForm.controls.seller_title.errors?.required">
                            Seller Title is required
                            </span>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label for="">Seller Content:</label>
                            <input type="text" class="form-control" formControlName="seller_content"> 
                            <span class="text-danger"
                            *ngIf="(BSForm.controls.seller_content.touched) && BSForm.controls.seller_content.errors?.required">
                            Seller Content is required
                            </span>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <label for="">Seller Link:</label>
                            <input type="text" class="form-control" formControlName="seller_link"> 
                            <span class="text-danger"
                            *ngIf="(BSForm.controls.seller_link.touched) && BSForm.controls.seller_link.errors?.required">
                            Seller Link is required
                            </span>
                        </div>
                        <div class="form-group col-12">
                            <input type="file" name="" id="" (change)="UploadSellerLogo($event)">
                        </div>
                        <div *ngIf="!imageUploaded2">
                            <p class="text_color_main">Please Upload an image  @ 1980 * 1080</p>
                        </div>
                        <div *ngIf="imageUploaded2">
                            <img src="{{SellerUrl}}" alt="" class="img-fluid" style="width: auto; height:75px;">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <button class="btn btn-sm btn_bg" (click)="updateInfo()" > Update </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>