.card-counter {
  box-shadow: 2px 2px 10px #dadada;
  margin: 5px;
  padding: 20px 20px;
  background-color: #fff;
  height: 100px;
  border-radius: 10px;
  transition: 0.3s linear all;
  color: #222222;
    background-image: url(../../assets/Dots.svg); 
    background-repeat:no-repeat; 
    background-position: right;
}
.card-counter-1 {
  box-shadow: 2px 2px 10px #dadada;
  margin: 5px;
  // padding: 20px 20px;
  background-color: #fff;
  height: 350px;
  border-radius: 10px;
  transition: 0.3s linear all;
  color: #222222;
  // overflow-y: scroll;
}
.card-counter-3 {
  box-shadow: 2px 2px 10px #dadada;
  margin: 5px;
  padding: 20px 20px;
  background-color: #fff;
  height: 150px;
  border-radius: 10px;
  transition: 0.3s linear all;
  color: #222222;
}
.card-counter-4 {
  box-shadow: 2px 2px 10px #dadada;
  margin: 5px;
  // padding: 20px 20px;
  background-color: #fff;
  // height: 350px;
  border-radius: 10px;
  transition: 0.3s linear all;
  color: #222222;
  // overflow-y: scroll;
  margin-top: 33px;
}
.card-counter-5 {
  box-shadow: 2px 2px 10px #dadada;
  margin: 5px;
  // padding: 20px 20px;
  background-color: #fff;
  // height: 350px;
  border-radius: 10px;
  transition: 0.3s linear all;
  color: #222222;
  // overflow-y: scroll;
  overflow: hidden;
}
.card-counter-6 {
  box-shadow: 2px 2px 10px #dadada;
  margin: 5px;
  padding: 20px 20px;
  background-color: #fff;
  // height: 350px;
  border-radius: 10px;
  transition: 0.3s linear all;
  color: #222222;
  // overflow-y: scroll;
  overflow: hidden;
}
.box-02 {
  box-shadow: 2px 2px 10px #dadada;
  margin: 5px;
  // padding: 20px 20px;
  background-color: #eeeeee;
  height: 150px;
  border-radius: 10px;
  transition: 0.3s linear all;
  color: #222222;
  overflow: hidden;
  margin-bottom: 15px;
}
.card-counter:hover {
  box-shadow: 4px 4px 20px #dadada;
  transition: 0.3s linear all;
}

.card-counter i {
  font-size: 5em;
  opacity: 0.2;
}
.b-h {
  color: #363636;
  font-weight: 500;
  font-size: 19px;
  margin-bottom: 0px;
}
.b-h1 {
  color: #363636;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0px;
}
.count-name {
  color: #363636;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 5px;
}
.count-numbers {
  color: #363636;
  font-weight: 800;
  font-size: 30px;
}
.pro-i {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.h-1 {
  background: #e4f4ff;
  padding: 10px;
}
.box-01 {
  padding: 4px 0px;
}
.u-t {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
  color: #949494;
}
.l-1 {
  padding: 3px 10px;
}
hr {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}
:host::ng-deep .mat-raised-button.mat-primary {
  background-color: #056cb1 !important;
  padding: 1px 5px;
  font-weight: 400 !important;
}
:host::ng-deep .mat-raised-button {
  line-height: 30px !important;
}
.mat-slider-horizontal {
  height: 40px;
  min-width: 128px;
  width: 100%;
}
.pro-2 {
  width: 80px;
  height: 80px;
}
.h-2 {
  padding: 10px;
  background-color: #363636;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0px;
}
td {
  font-size: 14px;
}
.card-counter-5 th {
  text-align: inherit;
  text-align: -webkit-match-parent;
  padding: 5px 10px;
  background-color: #056cb1;
  color: #fff;
}
.card-counter-5  td {
  font-size: 14px;
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
  color: rgb(141, 141, 141);

}
.view{
  color: #056cb1;
    font-size: 14px;
    text-decoration: underline;
    text-align: right;
    margin-right: 10px;
}
.pay p{
  margin-bottom: 0px;
  margin-top: 0px;
}
:host::ng-deep .bar .chartjs-render-monitor {
  animation: chartjs-render-animation 0.001s;
  height: 320px !important;
}