<div class="mainadmin">
    <div id="wrapper">

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-icon rotate-n-15">
            <img src="../../assets/HLogo.jpeg" style="height: 50px; width:auto;" alt="">
        </div>
    </a>

    <li class="nav-item buy"> <span>BUYER ADMIN</span></li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item" [routerLink]="['/buyers/dashboard']" routerLinkActive="active">
        <a class="nav-link">
            <i class="fas fa-fw fa-th"></i>
            <span>Dashboard</span>
        </a>
    </li>
    

    <li class="nav-item" [routerLink]="['/buyers/order-management']" routerLinkActive="active">
        <a class="nav-link">
            <i class="fas fa-file-invoice"></i>
            <span>Manage orders</span>
        </a>
    </li>
  
    <li class="nav-item">
        <a class="nav-link">
            <i class="fas fa-archive"></i>
            <span>Manage Save as Quotes</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link">
            <i class="fas fa-newspaper"></i>
            <span>Manage Team</span>
        </a>
    </li>


    <li class="nav-item">
        <a class="nav-link">
            <i class="fas fa-credit-card"></i>
            <span>Manage payments</span>
        </a>
    </li>
   


    <li class="nav-item">
        <a class="nav-link">
            <i class="fas fa-headset"></i>
            <span>Help & Support</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link">
            <i class="fas fa-users"></i>
            <span>My subscription</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link">
            <i class="fas fa-credit-card"></i>
            <span>Manage Vehicles</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link">
            <i class="fas fa-bell"></i>
            <span>Notifications</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link">
            <i class="fas fa-user"></i>
            <span>Manage profile</span>
        </a>
    </li>

    </ul>

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 shadow tool">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="text-center d-none d-md-inline">
                        <button class="text_color_main btn btn-link mr-3" style="font-size: 16px;" id="sidebarToggle"> <i class="fa fa-bars"></i> </button>
                    </div>
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-user" style="margin-right: 10px;font-size: 24px;color: #056cb1;"></i>
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Buyer Admin</span>
                                <i class="fas fa-angle-down fa-fw text_color_main" style="font-size: 16px;"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-bell" style="font-size: 24px;color: #056cb1;"></i>
                                <span class="badge badge-danger badge-counter" style="font-size: 16px;">3+</span>
                            </a>
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-shopping-cart" style="font-size: 24px;color: #056cb1;"></i>
                                <span class="badge badge-danger badge-counter" style="font-size: 16px;">7</span>
                            </a>
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg" alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg" alt="">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg" alt="">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div>
                    <div class="container-fluid">
                        <router-outlet> </router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>