
<div class="container-fluid">

    <div class="row d-flex justify-content-end">
        <button class="btn btn-sm btn_bg mr-3 mb-1" *ngIf="addmode" style="font-size: 12px;"  (click)="addSellers()"> <i class="fas fa-plus"></i> Add New Seller</button>
    </div>
    <h2 style="color: black;"> <b>Sellers List</b> </h2>
    <div class="card shadow mb-4">
        <!-- <div class="card-header py-3 card_header_table">
            <h6 class="m-0 font-weight-bold text-white">Seller Management</h6>
        </div> -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" datatable [dtOptions]="dtOptions" style="width:200%;">
                    <thead style="font-size: 14px;" class="table_header">
                        <tr>
                            <th>S.No</th>
                            <th>ID</th>
                            <th>Seller Name</th>
                            <th>Email</th>
                            <th>Contact</th>
                            <th>Address</th>
                            <th>Status</th>
                            <th>Created by</th>
                            <th>Created At</th>
                            <th>Updated by</th>
                            <th>Updated At</th>
                            <th style="position: sticky; right:0; background-color:#056CB1">Action</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 14px;">
                        <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11]; let i = index;">
                            <td>{{i+1}}</td>
                            <td>Seller{{i+1}}</td>
                            <td>SAM</td>
                            <td>Seller{{i+1}}@gmail.com</td>
                            <td>+91 7695911519</td>
                            <td style="word-wrap:break-word !important; width: 400px !important;">Cecilia Chapman 711-2880 Nulla St. Mankato Mississippi 96522 (257) 563-7401</td>
                            <td>Active</td>
                            <td>Admin</td>
                            <td>28/08/2021</td>
                            <td>Admin</td>
                            <td>28/08/2021</td>
                            <td style="position: sticky; right:0; background-color:#2c99d5;">
                                <button class="btn btn-sm mr-1"> <i class="far fa-edit text-dark" (click)="edit()"></i> </button>
                                <button class="btn btn-sm mr-1"> <i class="fas fa-trash-alt text-dark" (click)="validate()"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addSellers" tabindex="-1" aria-labelledby="addSellersLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addSellersLabel">New Sellers Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="mt-1">
                <form [formGroup]="SellersForm">
                  <div class="container-fluid mt-3 mb-3">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="personal-tab" data-toggle="tab" href="#personal" role="tab" aria-controls="personal" aria-selected="true">Personal Details</a>
                            </li>
                            <li class="nav-item" role="presentation">
                            <a class="nav-link" id="business-tab" data-toggle="tab" href="#business" role="tab" aria-controls="business" aria-selected="false">Business Details</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="personal-tab">
                                <h4 class="mt-3">Business Information</h4>
                                <div class="form-group row">
                                    <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Seller ID</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Auto Generated" formControlName="user_id" [readonly]="editmode ? true : false" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Business Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Enter Business Name" formControlName="name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">Subscription Plan</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" formControlName="subscription_plan_id">
                                            <option value="">None</option>
                                            <option value="plan1">Plan1</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row mt-2">
                                    
                                    <div class="form-group col-4">
                                        <label for="exampleFormControlSelect1">Status</label>
                                        <select class="form-control" formControlName="status">
                                          <option value="">Choose</option>
                                          <option value="active">Active</option>
                                          <option value="inactive">Inactive</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-12">
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="business" role="tabpanel" aria-labelledby="business-tab">
                                <h4 class="mt-3">Billing Address</h4>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlSelect1">Country</label>
                                        <select class="form-control" formControlName="b_country">
                                            <option value="">Choose</option>
                                            <option value="1">Country 1</option>
                                            <option value="2">Country 2</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlSelect1">State</label>
                                        <select class="form-control" formControlName="b_state">
                                            <option value="">Choose</option>
                                            <option value="1">State 1</option>
                                            <option value="2">State 2</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">City</label>
                                        <input type="text" class="form-control" placeholder="Enter City Name" formControlName="b_city">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Address Line 1</label>
                                        <input type="text" class="form-control" placeholder="Enter Address Line 1" formControlName="b_address1">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Address Line 2</label>
                                        <input type="text" class="form-control" placeholder="Enter Address Line 2" formControlName="b_address2">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Display Name</label>
                                        <input type="text" class="form-control" placeholder="Enter Display Name" formControlName="b_displayname">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Phone Number</label>
                                        <input type="text" class="form-control" placeholder="Enter Phone Number" formControlName="b_phonenumber">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Country Code</label>
                                        <input type="text" class="form-control" placeholder="Enter Country Code" formControlName="b_countrycode">
                                    </div>
                                </div>
                                
                                
                                <h4 class="mt-3">Shipping Address</h4>

                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlSelect1">Country</label>
                                        <select class="form-control" formControlName="sh_country">
                                            <option value="">Choose</option>
                                            <option value="1">Country 1</option>
                                            <option value="2">Country 2</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlSelect1">State</label>
                                        <select class="form-control" formControlName="sh_state">
                                            <option value="">Choose</option>
                                            <option value="1">State 1</option>
                                            <option value="2">State 2</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">City</label>
                                        <input type="text" class="form-control" placeholder="Enter City Name" formControlName="sh_city">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Address Line 1</label>
                                        <input type="text" class="form-control" placeholder="Enter Address Line 1" formControlName="sh_address1">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Address Line 2</label>
                                        <input type="text" class="form-control" placeholder="Enter Address Line 2" formControlName="sh_address2">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Display Name</label>
                                        <input type="text" class="form-control" placeholder="Enter Display Name" formControlName="sh_display_name">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Phone Number</label>
                                        <input type="text" class="form-control" placeholder="Enter Phone Number" formControlName="sh_phone_number">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Country Code</label>
                                        <input type="text" class="form-control" placeholder="Enter Country Code" formControlName="sh_country_code">
                                    </div>
                                </div>

                                <h4 class="mt-3">Pickup Address</h4>
                                <div class="form-row">
                                    <div class="form-group col-12">
                                        <label for="exampleFormControlInput1">Address Line</label>
                                        <input type="text" class="form-control" placeholder="Enter Pickup Address" formControlName="p_address">
                                    </div>

                                </div>
                                <h4 class="mt-3">Payment Information</h4>
                                <div class="form-row">
                                    <div class="form-group col-12">
                                        <label for="exampleFormControlInput1">Payment Mode</label>
                                        <select class="form-control" formControlName="payment_mode">
                                            <option value="">Choose</option>
                                            <option value="1">State 1</option>
                                            <option value="2">State 2</option>
                                        </select>
                                    </div>

                                </div>

                                <h4 class="mt-3">Product Information</h4>
                                <div class="form-row">

                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Product type</label>
                                        <select class="form-control" formControlName="product_type">
                                            <option value="">Choose</option>
                                            <option value="1">State 1</option>
                                            <option value="2">State 2</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Trading type</label>
                                        <select class="form-control" formControlName="trading_type">
                                            <option value="">Choose</option>
                                            <option value="1">State 1</option>
                                            <option value="2">State 2</option>
                                        </select>
                                    </div>

                                </div>

                                <h4 class="mt-3">Identity Verification</h4>
                                <div class="form-row">
                                    <div class="form-group col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" formControlName="authenticated">
                                            <label class="form-check-label" for="defaultCheck1">
                                                I’m Company seller, I Manage this account on behalf of a company and I have a trade license
                                            </label>
                                          </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Select Country</label>
                                        <select class="form-control" formControlName="business_location">
                                            <option value="">Choose</option>
                                            <option value="1">Country 1</option>
                                            <option value="2">Country 2</option>
                                        </select>
                                    </div>

                                    
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">National or Residence ID</label>
                                        <input type="text" class="form-control" placeholder="Enter National or Residence ID" formControlName="residenceid">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Expiry Date</label>
                                        <input type="text" class="form-control" placeholder="Enter Expiry Date" formControlName="expiry_date">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Country Of Issue</label>
                                        <input type="text" class="form-control" placeholder="Enter Country Of Issue" formControlName="country_of_issue">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">First Name</label>
                                        <input type="text" class="form-control" placeholder="Enter First Name" formControlName="first_name">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Middle Name</label>
                                        <input type="text" class="form-control" placeholder="Enter Middle Name" formControlName="middle_name">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Last Name</label>
                                        <input type="text" class="form-control" placeholder="Enter Last Name" formControlName="last_name">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Date Of Birth </label>
                                        <input type="text" class="form-control" placeholder="Enter Date Of Birth" formControlName="dob">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Registered Business Name</label>
                                        <input type="text" class="form-control" placeholder="Enter Registered Business Name" formControlName="reg_name">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">License Number</label>
                                        <input type="text" class="form-control" placeholder="Enter License Number" formControlName="license_number">
                                    </div>
                                    <div class="form-group col-12">
                                        <label for="exampleFormControlInput1">Address Line</label>
                                        <input type="text" class="form-control" placeholder="Enter Address" formControlName="address_line">
                                    </div>
                                </div>


                                <h4 class="mt-3">Identity Documents</h4>
                                <div class="form-row">
                                    <div class="form-group col-12">
                                        <label for="exampleFormControlSelect1">Upload Front Side</label>
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Upload Front Side</label>
                                    </div>

                                    <div class="form-group col-12">
                                        <label for="exampleFormControlSelect1">Upload Back Side</label>
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Upload Back Side</label>
                                    </div>
                                </div>
            


                                <h4 class="mt-3">Business Document</h4>
                                <div class="form-row">

                                    <div class="form-group col-12">
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Upload Business License</label>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Registration Status</label>
                                        <select class="form-control" formControlName="doc_regstatus">
                                            <option value="">Choose</option>
                                            <option value="1">Country 1</option>
                                            <option value="2">Country 2</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Registration Fail Reason</label>
                                        <select class="form-control" formControlName="doc_failreason">
                                            <option value="">Choose</option>
                                            <option value="1">Country 1</option>
                                            <option value="2">Country 2</option>
                                        </select>
                                    </div>
                                </div>


                                <h4 class="mt-3">VAT Information</h4>
                                <div class="form-row">

                                    <div class="form-group col-12">
                                        <label for="exampleFormControlInput1">TAX Registration Number</label>
                                        <input type="text" class="form-control" placeholder="Enter Address" formControlName="taxregnumber">
                                    </div>

                                    <div class="form-group col-12">
                                    
                                        <label for="exampleFormControlInput1">Upload Business License</label>
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Upload Business License</label>
                                    </div>
                                </div>
                               
                                <h4 class="mt-3">Bank Details</h4>
                                <div class="form-row">

                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Benificary Name</label>
                                        <input type="text" class="form-control" placeholder="Enter Benificary Name" formControlName="beneficiary_name">
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Bank Name</label>
                                        <input type="text" class="form-control" placeholder="Enter Bank Name" formControlName="bankname">
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Branch Name</label>
                                        <input type="text" class="form-control" placeholder="Enter Branch Name" formControlName="branchname">
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Account Number</label>
                                        <input type="text" class="form-control" placeholder="Enter Account Number" formControlName="baccountnumber">
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">IBAN Number</label>
                                        <input type="text" class="form-control" placeholder="Enter IBAN Number" formControlName="bibannumber">
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">SWIFT CODE</label>
                                        <input type="text" class="form-control" placeholder="Enter SWIFT CODE" formControlName="bswiftcode">
                                    </div>

                                    <div class="form-group col-12">
                                        <label for="exampleFormControlInput1">Currency</label>
                                        <input type="text" class="form-control" placeholder="Enter Currency" formControlName="bcurrency">
                                    </div>

                                    <div class="form-group col-12">
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Upload Bank Details Document</label>
                                    </div>
                                </div>
                                <h4 class="mt-3">Warehouse</h4>
                                <div class="form-row">

                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Country</label>
                                        <select class="form-control" formControlName="doc_regstatus">
                                            <option value="">Choose</option>
                                            <option value="1">Country 1</option>
                                            <option value="2">Country 2</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">State</label>
                                        <select class="form-control" formControlName="doc_regstatus">
                                            <option value="">Choose</option>
                                            <option value="1">Country 1</option>
                                            <option value="2">Country 2</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">City</label>
                                        <input type="text" class="form-control" placeholder="Enter Branch Name" formControlName="branchname">
                                    </div>
                                    
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Address Line 1</label>
                                        <input type="text" class="form-control" placeholder="Enter Address Line 1" formControlName="b_address1">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Address Line 2</label>
                                        <input type="text" class="form-control" placeholder="Enter Address Line 2" formControlName="b_address2">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Display Name</label>
                                        <input type="text" class="form-control"  formControlName="b_displayname">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Phone Number</label>
                                        <input type="text" class="form-control"  formControlName="b_phonenumber">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Country Code</label>
                                        <input type="text" class="form-control"  formControlName="b_countrycode">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Address Line</label>
                                        <input type="text" class="form-control"  formControlName="b_countrycode">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="exampleFormControlInput1">Pick Address</label>
                                        <input type="text" class="form-control"  formControlName="b_countrycode">
                                    </div>
                                </div>

                            </div>
                        </div>
                  </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <div class="d-flex justify-content-end">
                <button *ngIf="addmode" type="button" class="btn btn_bg btn-sm mr-1" (click)="addSellers()" data-dismiss="modal">Add</button>
                <button *ngIf="editmode" type="button" class="btn btn_bg btn-sm mr-1" (click)="updateSellers()" data-dismiss="modal">Update</button>
                <button class="btn btn_bg btn-sm" (click)="cancel()" data-dismiss="modal">Cancel</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="deleteSellers" tabindex="-1" aria-labelledby="deleteSellersLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteSellersLabel">Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Do you really want to delete this Sellers ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn_bg" data-dismiss="modal">No</button>
          <button type="button" class="btn btn_bg" (click)="deleteSellers()" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>