
<div class="container-fluid">
    <div class="row d-flex justify-content-between mt-5 mb-2">
      <h3 class="module_tilte"> SMS Template List </h3>
        <button type="button" class="btn btn_bg btn-sm mr-3 mb-1" (click)="addSMS()" style="font-size: 12px;"><i class="fas fa-plus"></i> ADD</button>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="accordion" id="accordionExample">
          <div class="card-counter-5 shadow">
            <div class="card-header bg_nav_custom_1" id="headingOne" style="height: 60px;" *ngIf="!FilteredState">
              
              <div class="row" >
                <div class="col-12 d-flex justify-content-between">
                  <div>
                    <button style="color: white;" class="btn btn-sm mb-2" type="button">
                      <i class="fa fa-car"></i>
                    </button>
                  </div>
                  <div>
                    <button style="color: white;" class="btn btn-sm mb-2" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Filters <i class="fas fa-chevron-down"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-header bg_nav_custom_2" id="headingOne" style="height: 60px;" *ngIf="FilteredState">
              <div class="row" >
                <div class="col-12 d-flex justify-content-between">
                  <div class="mt-2">
                    <span style="font-size: 12px;" class="filter-badge mr-1" *ngFor="let item of [1,2,3,4,5]">Field Name: Value <i class="ml-2 mr-1 fas fa-times"></i> </span>
                  </div>
                  <div>
                    <button style="color: #056CB1;" class="btn btn-sm mb-2" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Reset Filters <i class="fas fa-chevron-down"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
        
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body" style="background-color: rgba(255, 255, 255, 0.03);" *ngIf="filterMode">
                <form>
                    <div class="form-row">
                        <div class="form-group col-3">
                          <select class="form-control" placeholder="select">
                              <option  value="" selected disabled>Status</option>
                              <option  value="1">Active</option>
                              <option  value="2">In active</option>
                          </select>
                        </div>
                        <div class="form-group col-3">
                          <select class="form-control" placeholder="select">
                              <option  value="" selected disabled>Created By</option>
                              <option  value="1">User 1</option>
                              <option  value="2">User 2</option>
                          </select>
                        </div>
                        <div class="form-group col-3">
                          <select class="form-control" placeholder="select">
                              <option  value="" selected disabled>Updated By</option>
                              <option  value="1">User 1</option>
                              <option  value="2">User 2</option>
                          </select>
                        </div>
  
                        <div class="form-group col-3">
                          <input type="date" class="form-control" placeholder="select">
                        </div>
                        <div class="form-group col-3">
                          <input type="date" class="form-control" placeholder="select">
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                      <button class="btn_bg btn btn-sm mr-1" (click)="FilterData()" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Search </button>
                      <button class="btn_bg btn btn-sm" (click)="ClearFilter()"> Clear </button>
                    </div>
                </form>
                <div class="d-flex justify-content-end">
                    <a style="text-decoration: none;" class="text_color_main" (click)="getFilterState('advancefilterMode')"> <i class="fa fa-filter" ></i> Advance Filter</a>
                </div>
              </div>
              <div class="card-body" style="background-color: rgba(255, 255, 255, 0.03);" *ngIf="advancefilterMode">
                  <form>
                      <div class="form-row">
                          <div class="form-group col-3">
                            <select class="form-control" placeholder="select">
                                <option  value="" selected disabled>Fields</option>
                                <option  value="1">SMS Name</option>
                                <option  value="2">SMS Code</option>
                            </select>
                          </div>
                          <div class="form-group col-3">
                            <select class="form-control" placeholder="select">
                                <option  value="" selected disabled>Condition</option>
                                <option  value="1">Equal to</option>
                                <option  value="2">Not Equal to</option>
                            </select>
                          </div>
    
                          <div class="form-group col-3">
                            <input type="text" class="form-control" placeholder="Value">
                          </div>
                      </div>
                      <div class="row d-flex justify-content-center">
                        <button class="btn_bg btn btn-sm mr-1" (click)="FilterData()" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Search </button>
                        <button class="btn_bg btn btn-sm" (click)="ClearFilter()"> Clear </button>
                      </div>
                  </form>
                  <div class="d-flex justify-content-end">
                      <a style="text-decoration: none;" class="text_color_main btn_link" (click)="getFilterState('filterMode')"> <i class="fa fa-filter"></i>  Normal Filter</a>
                  </div>
                </div>
            </div>
          </div>
   
      </div>
      <br>
      <div class="card mb-4 card_border_radius card-main-shadow" *ngIf="dataLoaded" style="padding: 20px;">
          <div class="card-counter-5 shadow" >
              <table style="width: 100%; overflow-x: scroll;">
                  <thead style="font-size: 13px; height:50px;" class="table_header">
                      <tr style="text-align: center;">
                          <th>Title Name</th>
                          <th>Module Name</th>
                          <th>SMS Content</th>
                          <th>Status</th>
                          <th>Created At</th>
                          <th>Created By</th>
                          <th>Updated At</th>
                          <th>Updated By</th>
                          <th>Action</th>        
                      </tr>
                  </thead>
                  <tbody style="font-size: 14px;" *ngIf="SMSList.length > 0">
                      <tr *ngFor="let item of SMSList | paginate: { itemsPerPage: itemPage, currentPage: p }; let i = index;" style="justify-content: center; align-items:center; height:45px;">
                        
                          <td>{{item.title_name}}</td>
                          <td *ngIf="i === 0">Registration Module</td>
                          <td *ngIf="i === 1">Order Module</td>
                          <td style="width: 20%;">{{item.sms_content}}</td>
                          <td>
                              <span *ngIf="item.status == true">Active</span>
                              <span *ngIf="item.status == false">Inactive</span>
                          </td>
                          <td>{{item.created_at | date}}</td>
                          <td>{{item.user_name}}</td>
                          <td>{{item.modified_at | date}}</td>
                          <td>{{item.user_name}}</td>
                          <td>
                              <button class="btn btn-sm mr-1" (click)="editSMS(item)"> <i class="far fa-edit"></i> </button>
                              <button class="btn btn-sm mr-1" (click)="validate(item.id)"> <i class="fas fa-trash-alt"></i> </button>
                          </td>
                      </tr>
                  </tbody>
              </table>
              <div class="row mt-3" *ngIf="SMSList.length === 0">
                <div class="col-12 d-flex justify-content-center">
                  <h4 style="color: black;"><b>No Data Available</b></h4>
                </div>
              </div>
          </div>
          <div class="d-flex justify-content-between" style="margin-top: 25px;">
      
              <form>
                  <label for="Pages">Show &nbsp;</label>
                  <select name="Pages" id="Pages" [(ngModel)]="itemPage">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
              </form>
      
              <div>
                  <pagination-controls (pageChange)="pageChanged($event)" previousLabel="<"
                  nextLabel=">" ></pagination-controls>
              </div>
      
              
          </div>
      </div>
      <div class="card shadow mb-4 card_border_radius" *ngIf="!dataLoaded">
          <!-- <div class="card-header py-3 card_header_table">
              <h6 class="m-0 font-weight-bold text-white">SMS List</h6>
          </div> -->
          <div class="card-body"  style="align-items: center;">
              <div class="sk-chase">
                  <div class="sk-chase-dot"></div>
                  <div class="sk-chase-dot"></div>
                  <div class="sk-chase-dot"></div>
                  <div class="sk-chase-dot"></div>
                  <div class="sk-chase-dot"></div>
                  <div class="sk-chase-dot"></div>
              </div>
              <p>Loading SMS List</p>
          </div>
      </div>
      </div>
    </div>

</div>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Do you really want to delete this SMS ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-sm" (click)="cancel()">No</button>
          <button type="button" class="btn btn-success btn-sm" (click)="deleteSMS()">Yes</button>
        </div>
      </div>
    </div>
</div>