<div class="container-fluid">
    <h4 class="text_color_black" *ngIf="addmode"><b>Add New Mobile Section</b></h4>
    <h4 class="text_color_black" *ngIf="editmode"><b>Update Mobile Section</b></h4>
    <div class="card card_border_radius" style="padding: 10px;">

        <form [formGroup]="addMobileSectionForm">
              <div class="form-group row d-flex justify-content-center">
                <label for=""  class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-8">
                    <input type="text" formControlName="title" class="form-control">
                    

                    <span class="text-danger"
                    *ngIf="(addMobileSectionForm.controls.title.touched) && addMobileSectionForm.controls.title.errors?.required">
                     Title is required
                    </span>
                </div>
              </div>

              <div class="form-group row d-flex justify-content-center">
                <label for=""  class="col-sm-2 col-form-label">Content</label>
                <div class="col-sm-8">
                    <input type="text" formControlName="content" class="form-control">
                    <span class="text-danger"
                    *ngIf="(addMobileSectionForm.controls.content.touched) && addMobileSectionForm.controls.content.errors?.required">
                    Content is required
                    </span>
                </div>
              </div>

              <div class="form-group row d-flex justify-content-center">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <input type="file" name="" id="" (change)="UploadMobileSection($event)">
                </div>
              </div>
              <div *ngIf="!imageUploaded">
                  <p class="text_color_main">Please Upload an image  @ 1980 * 1080</p>
              </div>
              <div *ngIf="imageUploaded">
                  <img src="{{MobileSectionUrl}}" alt="" class="img-fluid" style="width: auto; height:75px;">
              </div>

              <div class="form-group row d-flex justify-content-center">
                <label for=""  class="col-sm-2 col-form-label">Status</label>
                <div class="col-sm-8">
                    <select formControlName="status" class="form-control">
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                </div>
              </div>
        </form>
        
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn_bg btn-sm mr-1" (click)="addMobileSection()" *ngIf="addmode">Save</button>
            <button type="button" class="btn btn_bg btn-sm mr-1" (click)="updateMobileSection()" *ngIf="editmode">Update</button>
            <button type="button" class="btn btn_bg btn-sm mr-1" (click)="cancel()">Cancel</button>
        </div>
    </div>
</div>