<div class="container-fluid">
    <div class="card card_border_radius" style="padding: 10px;">
        <h4 class="text_color_main" *ngIf="addmode"><b>Add VAT Detail</b></h4>
        <h4 class="text_color_main" *ngIf="editmode"><b>Update VAT Detail</b></h4>
        <form [formGroup]="addCategoryRequestStatusForm">
            <div class="form-group row">
                <label for=""  class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input type="text" formControlName="cat_req_status_name" class="form-control">
                </div>
              </div>

              <!-- <div class="form-group row">
                <label for=""  class="col-sm-2 col-form-label">Remarks</label>
                <div class="col-sm-8">
                    <input type="text" formControlName="remarks" class="form-control">
                </div>
              </div> -->

              <div class="form-group row">
                <label for=""  class="col-sm-2 col-form-label">Status</label>
                <div class="col-sm-8">
                    <select formControlName="status" class="form-control">
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                </div>
              </div>
        </form>
        
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn_bg btn-sm mr-1" (click)="addJurisdiction()" *ngIf="addmode">Save</button>
            <button type="button" class="btn btn_bg btn-sm mr-1" (click)="updateJurisdiction()" *ngIf="editmode">Update</button>
            <button type="button" class="btn btn_bg btn-sm mr-1" (click)="cancel()">Cancel</button>
        </div>
    </div>
</div>