<div class="container-fluid">
    <h4 class="text_color_main" *ngIf="addmode"><b>Add New Subscription Plan</b></h4>
    <h4 class="text_color_main" *ngIf="editmode"><b>Update Subscription Plan</b></h4>
    <div class="card card_border_radius" style="padding: 10px;">

        <form [formGroup]="addSubscriptionPlanForm">
            <div class="form-group row d-flex justify-content-center">
                <label for=""  class="col-sm-2 col-form-label">Subscription Name</label>
                <div class="col-sm-8">
                    <input type="text" formControlName="subscription_name" class="form-control">
                </div>
            </div>

              <div class="form-group row d-flex justify-content-center">
                <label for=""  class="col-sm-2 col-form-label">Number of Users</label>
                <div class="col-sm-8">
                    <input type="number" formControlName="number_of_users" class="form-control">
                </div>
              </div>

              <div class="form-group row d-flex justify-content-center">
                <label for=""  class="col-sm-2 col-form-label">Modules List</label>
                <div class="col-sm-8">
                    <ng-select 
                   [items]="ModulesList"
                   bindLabel="name"
                   bindValue="id"
                   labelForId="state"
                   [multiple]="true"
                   placeholder="Select Modules"
                   clearAllText="Clear"
                   formControlName="status">
        </ng-select>
                </div>
              </div>


              <div class="form-group row d-flex justify-content-center">
                <label for=""  class="col-sm-2 col-form-label">Days</label>
                <div class="col-sm-8">
                    <input type="number" formControlName="days" class="form-control">
                </div>
              </div>

              <div class="form-group row d-flex justify-content-center">
                <label for=""  class="col-sm-2 col-form-label">Price</label>
                <div class="col-sm-8">
                    <input type="number" formControlName="price" class="form-control">
                </div>
              </div>

              <div class="form-group row d-flex justify-content-center">
                <label for=""  class="col-sm-2 col-form-label">Valid Till</label>
                <div class="col-sm-8">
                    <input type="date" formControlName="valid_till" class="form-control">
                </div>
              </div>

              <div class="form-group row d-flex justify-content-center">
                <label for=""  class="col-sm-2 col-form-label">Effective Date</label>
                <div class="col-sm-8">
                    <input type="date" formControlName="effective" class="form-control">
                </div>
              </div>

              <div class="form-group row d-flex justify-content-center">
                <label for=""  class="col-sm-2 col-form-label">Action</label>
                <div class="col-sm-8">
                    <input type="text" formControlName="action" class="form-control">
                </div>
              </div>

              <div class="form-group row d-flex justify-content-center">
                <label for=""  class="col-sm-2 col-form-label">Status</label>
                <div class="col-sm-8">
                    <select formControlName="status" class="form-control">
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                </div>
              </div>
        </form>
        
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn_bg btn-sm mr-1" (click)="addSubscriptionPlan()" *ngIf="addmode">Save</button>
            <button type="button" class="btn btn_bg btn-sm mr-1" (click)="updateSubscriptionPlan()" *ngIf="editmode">Update</button>
            <button type="button" class="btn btn_bg btn-sm mr-1" (click)="cancel()">Cancel</button>
        </div>
    </div>
</div>