

<div class="container-fluid">
    <div class="row d-flex justify-content-end">
        <button class="btn btn-sm btn_bg mr-3 mb-1" *ngIf="addmode" style="font-size: 12px;" (click)="addTaxCode()"> <i class="fas fa-plus"></i> Add</button>
    </div>

    <div class="card shadow mb-4 card_border_radius">
        <div class="card-header py-3 card_header_table">
            <h6 class="m-0 font-weight-bold text-white">Tax Code List</h6>
        </div>
        <div class="card-body" *ngIf="!dataLoaded" style="align-items: center;">
            <div class="sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>
            <p>Loading Tax Code List</p>
        </div>
        <div class="card-body" *ngIf="dataLoaded">
            <div class="table-responsive">
                <table class="table table-bordered table-sm" datatable width="120%" cellspacing="0" [dtOptions]="dtOptions" >
                    <thead style="font-size: 14px;" class="table_header" >
                        <tr>
                            <th>S.No</th>
                            <th>Tax_code_id</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Created At</th>
                            <th>Created By</th>
                            <th>Modified_at</th>
                            <th>Modified_by</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    
                    
                    <tbody style="font-size: 14px;">
                        <!-- <tr *ngFor="let item of CategoryRequestStatusList; let i = index;" style="justify-content: center; align-items:center;">
                            <td>{{i+1}}</td>
                            <td>{{item.cat_req_status_name}}</td>
                            <td><img src="{{item.icon}}" alt="" class="img-fluid" style="height:30px; width:auto;"></td>
                            <td>
                                <span *ngIf="item.status == true">Active</span>
                                <span *ngIf="item.status == false">Inactive</span>
                            </td>
                            <td>{{item.created_at | date}}</td>
                           <td *ngIf="item.created_by == 1">Admin</td>
                            <td>{{item.modified_at | date}}</td>
                           <td *ngIf="item.modified_by == 1">Admin</td>
                            <td>
                                <button class="btn btn-sm mr-1" (click)="editCategoryRequestStatus(item)"> <i class="far fa-edit"></i> </button>
                                <button class="btn btn-sm mr-1" (click)="validate(item.id)"> <i class="fas fa-trash-alt"></i> </button>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Do you really want to delete this Category Request Status ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn_bg btn-sm" (click)="deleteCategoryRequestStatus()">Yes</button>
          <button type="button" class="btn btn_bg btn-sm" (click)="cancel()">No</button>
        </div>
      </div>
    </div>
</div>
